body {
    font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #455a64;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
}

.menu > li > a.logo { padding: 0 1rem; }

.marketing-hero {
    background: rgba(240, 240, 240, 1) repeat scroll center center / cover ;
    padding: 180px 0 200px;
}

hr.whitespace {
    border: none;
    height: 1.875rem;
}

p.link {
    /* Liza to add style */
}

.their-logo, .their-logo:hover {
    border-width: 0px;
    box-shadow: none;
}

.header {
    background: #074E68;
    background-size: cover;
    overflow: visible;
    padding-top: 2.5rem;
    padding-bottom: 4.9rem;
    position: relative;
    text-align: center; }
    .header .headline {
        color: #ffe;
}

.header-subnav {
    float: none;
    position: absolute; bottom: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%; }
    .header-subnav li {
    display: inline-block;
    float: none; }
    .header-subnav li a {
    font-size: 0.75rem;
    padding: 0.9rem 1rem;
}

.consortium-list div {
    padding-bottom: 20px; }
    span.institution  {
    font-size: 90%;
    padding-left: 5px;       
}

.contributors-list div {
    padding-bottom: 20px; }
    .contributors-list a {
    font-size: 90%;
    padding-left: 5px;       
}
    