/* ---------- global ----------*/
body {
    font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #455a64;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
}

a {
    font-weight: bold;    
}

.button {
    font-family: 'Montserrat', Helvetica, Roboto, Arial, sans-serif;
    text-transform: uppercase;
}

.menu > li > a.logo { padding: 0 1rem; }

hr.whitespace {
    border: none;
    height: 1.875rem;
}

.their-logo, .their-logo:hover {
    border-width: 0px;
    box-shadow: none;
}

/* ---------- main navigation ----------*/
.logo {
    display: inline;
    width: 150px;
}

.top-bar {
    background-color: #263238;
    border-bottom: 1px solid #000;
}

.top-bar ul {
    background-color: #263238;
}

.top-bar ul li {
    vertical-align: middle;
}

.nav-secondary, .nav-secondary ul {
    background-color: #37474f;
    border-bottom: 1px solid #000;
    font-size: 0.875em;
    height: 36px;
}

.nav-secondary > .top-bar-right > .menu > li > a {
    color: #eceff1;
}

.nav-secondary > .top-bar-right > .menu > li > a:hover {
    color: #fff;
}

.nav-secondary > .top-bar-right > .menu > li > a i {
    vertical-align: top;
}

#main-menu .is-dropdown-submenu {
    border-color: #000;
}

#main-menu a {
    color: #eceff1;
    font-family: 'Montserrat', Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

#main-menu a:hover {
    color: #fff;
}

#main-menu .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #eceff1 transparent transparent;
}

.header-subnav {
    float: none;
    font-family: 'Montserrat', Helvetica, Roboto, Arial, sans-serif;    
    margin: 0 auto;
    position: absolute; bottom: 0;
    text-align: center;
    width: 100%; }
    .header-subnav li {
    display: inline-block;
    float: none; }
    .header-subnav li a {
        color: #eceff1;
        display: block;
        font-size: 0.75rem;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 0.9rem 1rem;        
        text-transform: uppercase;        
        transition: all 0.35s ease-in-out; }
        .header-subnav li a.is-active {
            background: rgba(250, 250, 250, 0.15); }
        .header-subnav li a:hover {
            background: rgba(250, 250, 250, 0.15);
            color: #fff;
            transition: all 0.35s ease-in-out; }
            
/* ---------- header background images ----------*/
.header {
    background: #000;
    background-size: cover;
    overflow: visible;
    padding-top: 2.5rem;
    padding-bottom: 4.9rem;
    position: relative;  
    text-align: center; }
    .header .headline {
        color: #eceff1; }
        
[id^="header-bg-"] {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
        
#header-bg-scientists { background-image: url('../img/bg/omero-scientist.jpg'); }
#header-bg-developers { background-image: url('../img/bg/omero-developer.jpg'); }
#header-bg-institutions { background-image: url('../img/bg/omero-institution.jpg'); }
  
/* ---------- hero background images ----------*/
.marketing-hero {
    padding: 180px 0 200px;
}

.marketing-hero, .callout {
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

[id^="bg-image-"] {
    color: #fff;
    text-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

[id^="bg-image-"] p { font-weight: bold; }

#bg-image-main { background-image: url('../img/bg/main.jpg'); }
#bg-image-about { background-image: url('../img/bg/about.jpg'); }
#bg-image-teams { background-image: url('../img/bg/teams.jpg'); }
#bg-image-contributors { background-image: url('../img/bg/contributors.jpg'); text-shadow: 0px 1px 7px rgba(0,0,0,1); }
#bg-image-commercial-partners { background-image: url('../img/bg/commercial-partners.jpg'); }
#bg-image-licensing { background-image: url('../img/bg/licensing.jpg'); }
#bg-image-products { background-image: url('../img/bg/products.jpg'); text-shadow: 0px 1px 1px rgba(0,0,0,1); }
#bg-image-omero { background-image: url('../img/bg/omero.jpg'); }
#bg-image-bio-formats { background-image: url('../img/bg/bio-formats.jpg'); }
#bg-image-ome-files { background-image: url('../img/bg/ome-files.jpg'); }
#bg-image-support { background-image: url('../img/bg/support.jpg'); text-shadow: 0px 1px 1px rgba(0,0,0,1); }
#bg-image-getting-started { background-image: url('../img/bg/getting-started.jpg'); }

.bg-image-text-container {
    background-color: rgba(0,0,0,.25);
    border-radius: 8px;
    color: #fff;
    padding: 40px 30px;
    text-shadow: none;
}

.hero-subheader {
    font-weight: bold;
    text-shadow: 1px 5px 15px rgba(0,0,0,1);
}

.hero-main-header, div.callout > div.text-center h1, .headline {
    font-family: Montserrat;
    font-size: 2.5rem;
    text-shadow: 1px 5px 15px rgba(0,0,0,1);
    text-transform: uppercase;
}

/* ---------- graphics: logos ----------*/
.logo-hero {
    margin-bottom: 30px;
    height: 70px;
    text-shadow: 1px 5px 15px rgba(0,0,0,1);
}

.section-title-logo { max-height: 70px; }

.section-title-img-logo {
    background-color: #eceff1;
    border-radius: 4px;
    margin-bottom: 20px;
    min-height: 120px;
    padding: 25px;
}

.thumbnail {
    border: none;
    box-shadow: none;
}

.thumbnail:focus, .thumbnail:hover {
    border: none;
    box-shadow: none;
}

.logomark {
    background-color: #e3f2fd;
    border-radius: 4px;
    max-width: 125px;
}

/* ---------- graphics: FontAwesome icons ----------*/
[class^="icon-fa-"] {
    background-color: transparent;
    color: #009688;
    padding: 25px 50px;
    text-align: center;
}

.icon-fa-one-third { }
.icon-fa-one-fourth { }

/* ---------- graphics: OMERO features ----------*/
.omero-feature {
    max-width: 128px;
}

.icon-fa-one-third { }
.icon-fa-one-fourth { }

/* ---------- pages: About ----------*/
.consortium-list div {
    padding-bottom: 20px; }
    span.institution  {
    font-size: 90%;
    padding-left: 5px;       
}

.contributors-list div {
    padding-bottom: 20px; }
    .contributors-list a {
    font-size: 90%;
    padding-left: 5px;       
}
    