body {
    font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #455a64;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
}

.button {
    font-family: 'Montserrat', Helvetica, Roboto, Arial, sans-serif;
    text-transform: uppercase;
}

.menu > li > a.logo { padding: 0 1rem; }

.marketing-hero {
    background: rgba(240, 240, 240, 1) repeat scroll center center / cover ;
    padding: 180px 0 200px;
}

/* ---------- main navigation ----------*/
.top-bar {
    background-color: #455a64;
    border-bottom: 1px solid #263238;
}

.top-bar ul {
    background-color: #455a64;
}

.nav-secondary, .nav-secondary ul {
    background-color: #37474f;
    border-bottom: 1px solid #263238;
    font-size: 0.875em;
    height: 36px;
}

.nav-secondary > .top-bar-right > .menu > li > a {
    color: #eceff1;
}

.nav-secondary > .top-bar-right > .menu > li > a:hover {
    color: #fff;
}

.nav-secondary > .top-bar-right > .menu > li > a i {
    vertical-align: top;
}

#main-menu a {
    color: #eceff1;
    font-family: 'Montserrat', Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.8125rem;
    text-transform: uppercase;
}

#main-menu a:hover {
    color: #fff;
}

#main-menu .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: #eceff1 transparent transparent;
}
  
/* ---------- hero background images ----------*/
.marketing-hero {
    background-color: transparent;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}

#bg-image-main {
    background-image: url('../img/bg/Plate10_Actinome1_Well_G01_Field_1.jpg');
    font-weight: bold;
}

.bg-image-text-container {
    background-color: rgba(255,255,255,0.35);
    border-radius: 4px;
    color: #111;
    padding: 40px 30px;
}

hr.whitespace {
    border: none;
    height: 1.875rem;
}

p.link {
    /* Liza to add style */
}

.their-logo, .their-logo:hover {
    border-width: 0px;
    box-shadow: none;
}

.header {
    background: #074E68;
    background-size: cover;
    overflow: visible;
    padding-top: 2.5rem;
    padding-bottom: 4.9rem;
    position: relative;
    text-align: center; }
    .header .headline {
        color: #ffe;
}

.header-subnav {
    float: none;
    position: absolute; bottom: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%; }
    .header-subnav li {
    display: inline-block;
    float: none; }
    .header-subnav li a {
    font-size: 0.75rem;
    padding: 0.9rem 1rem;
}

.consortium-list div {
    padding-bottom: 20px; }
    span.institution  {
    font-size: 90%;
    padding-left: 5px;       
}

.contributors-list div {
    padding-bottom: 20px; }
    .contributors-list a {
    font-size: 90%;
    padding-left: 5px;       
}
    