---
layout: default
title: Teams
meta_description: Meet the team members who make up OME, developed as a joint project between research-active teams in universities and institutes globally.

schemadotorg: consortium
---
        <!-- begin MapBox -->
        <header class="marketing-hero" id="bg-image-teams">
            <div class="row homepage text-center">
                <div class="small-12 columns bg-image-text-container">
                    <h1 class="hero-main-header">OME Teams</h1>
                    <p class="hero-subheader small-12 medium-6 medium-offset-3">
                        OME is developed as a joint project between
                        research-active teams in universities and institutes
                        across Europe and the United States.
                    </p>
                    <br>
                    <a href="{{ site.baseurl }}/teams/index.html#starting-point" class="large button sites-button hide-for-small-only btn-red">Meet the Teams</a>
                </div>
            </div>
        </header>
        <!-- end MapBox -->

        <div id="starting-point"/>{% for team in site.data.consortium.member %}

        <!-- begin {{ team.alternateName }} -->

        <hr class="whitespace">
        <div id="{{ team.alternateName }}-team" class="row">
            <div class="row small-12 medium-12 large-12">
                <div class="small-6 small-offset-3 medium-2 medium-offset-4 columns"><img src="{{ site.baseurl }}/img/logos/{{ team.logo }}" alt="{{ team.name }} logo"></div>
                <hr class="invisible show-for-small-only">
                <div class="small-10 medium-6 columns"><h5>
			<!-- TODOs: link, exclude memberOf -->
			{% assign memberOf = team.memberOf  | first %}
                        {% if team.sameAs %}<a href="{{team.sameAs}}">{% endif %}
			{{ team.name }}<br>
                        {% if team.sameAs %}</a>{% endif %}
                        {{ memberOf.name }}<br>
                        {{ team.address.addressLocality }}<br>
                        {{ team.address.addressCountry }}<br>
                    </h5></div>
            </div>
        </div>
        <hr class="medium-10">
        <div class="row medium-12">
            <div class="row small-up-2 medium-up-3 large-up-6 text-center" id="{{ team.alternateName }}-team-members">
                {% for member in team.member %}
                <div class="column">
                        <img class="thumbnail" alt="photo of {{ member.givenName }} {{ member.familyName }}" src="{{ site.baseurl }}/img/team/{{ member.givenName | downcase }}_{{ member.familyName | downcase }}.jpg">
                        <h5>{{ member.givenName }} {{ member.familyName }}</h5>
                        <a class="team-member" data-open="modal-{{ team.alternateName }}-{{ forloop.index }}">
                            <span class="bio-link tiny button hollow">Read Bio</span>
                        </a>
                        <p class="job-title">{{ member.jobTitle }}
                        {% for sameAs in member.sameAs %}
                        {% if sameAs contains "orcid.org" %}
                        <a href="{{ sameAs }}">
                            <img alt="ORCID logo"
                             src="{{ site.baseurl }}/img/logos/3rd-party_orcid.svg"
                             width="16" height="16" />
                        </a>
                        {% elsif sameAs contains "github.com" %}
                        <a href="{{ sameAs }}" target="_blank"><img src="{{ site.baseurl }}/img/logos/3rd-party-GitHub-Mark-32px.png" width="16" height="16" alt="GitHub Logo" /></a>
                        {% endif %}
                        {% endfor %}
                        </p>


                      <div class="reveal" id="modal-{{ team.alternateName }}-{{ forloop.index }}" data-reveal>
                      <h4 class="text-center">{{ member.givenName }} {{ member.familyName }}</h4>
                      <p class="job-title">{{ member.jobTitle }}</p>
                      <hr>
                      <p>{{ member.description }}</p>
                      <button class="close-button" data-close aria-label="Close reveal" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- end {{ team.alternateName }} -->

        {% endfor %}

        {% for team in site.data.consortium.member %}
        {% if team.alumni.size != 0 %}
         <!-- begin Former team members -->
            <hr class="whitespace">
            <div class="row text-center">
                <div class="small-12 columns">
                    <h3>Former members of the {{ team.name }} team</h3>
                </div>
            </div>
            <hr>
            <div class="row medium-up-2 large-up-3 contributors-list">
                {% for alumni in team.alumni %}
                <div class="large-expand columns">
                {{ alumni.name }}
                {% for sameAs in alumni.sameAs %}
                {% if sameAs contains "orcid.org" %}
                <a href="{{ sameAs }}">
                    <img alt="ORCID logo"
                     src="{{ site.baseurl }}/img/logos/3rd-party_orcid.svg"
                     width="16" height="16" />
                </a>
                {% elsif sameAs contains "github.com" %}
                <a href="{{ sameAs }}" target="_blank"><img src="{{ site.baseurl }}/img/logos/3rd-party-GitHub-Mark-32px.png" width="16" height="16" alt="GitHub Logo" /></a>
                {% endif %}
                {% endfor %}
                </div>
                {% endfor %}

            </div>
            <hr class="whitespace">
            <!-- end Former OME Team Members -->
          {% endif %}
        {% endfor %}

        <hr class="whitespace">
