---
layout: default
title: Teams
meta_description: Meet the team members who make up OME, developed as a joint project between research-active teams in universities and institutes across Europe and the United States.
development_teams:
    - team_name: Glencoe Software
      link: "https://www.glencoesoftware.com/about/team/"
    - team_name: Baldock Lab
      link: "http://www.hgu.mrc.ac.uk/people/r.baldock.html"
    - team_name: Bertrand Lab
      link: "https://www.mri.cnrs.fr/en/"
    - team_name: Brazma Lab
      link: "https://www.ebi.ac.uk/research/brazma"
    - team_name: Carazo-Salas Lab
      link: "https://research-information.bris.ac.uk/en/persons/rafael-e-carazo-salas"
    - team_name: Danuser Lab
      link: "https://www.utsouthwestern.edu/labs/danuser/"
    - team_name: Davis Lab
      link: "https://ilandavis.com"
    - team_name: Eliceiri Lab
      link: "https://loci.wisc.edu"
    - team_name: French Lab
      link: "http://www.imperial.ac.uk/photonics"
    - team_name: Murphy Lab
      link: "http://murphylab.web.cmu.edu"
    - team_name: Shorte Lab
      link: "https://research.pasteur.fr/en/team/photonic-bioimaging-utechs-pbi/"
    - team_name: Zanetti Lab
      link: "http://www.crs4.it/research/visual-and-data-intensive-computing/"
schemadotorg: swedlowlab
---
        <!-- begin MapBox -->
        <header class="marketing-hero" id="bg-image-teams">
            <div class="row homepage text-center">
                <div class="small-12 columns bg-image-text-container">
                    <h1 class="hero-main-header">OME Teams</h1>
                    <p class="hero-subheader small-12 medium-6 medium-offset-3">
                        OME is developed as a joint project between
                        research-active teams in universities and institutes
                        across Europe and the United States.
                    </p>
                    <br>
                    <a href="{{ site.baseurl }}/teams/index.html#swedlow-lab" class="large button sites-button hide-for-small-only btn-red">Meet the Teams</a>
                </div>
            </div>
        </header>
        <!-- end MapBox -->

        <!-- begin Swedlow Lab -->
        <hr class="whitespace">
        <div id="swedlow-lab" class="row">
            <h2 class="text-center">Swedlow Lab</h2>
            <div class="row small-12 medium-12 large-12">
                <div class="small-6 small-offset-3 medium-2 medium-offset-4 columns"><img src="{{ site.baseurl }}/img/logos/uod.jpg" alt="University of Dundee logo"></div>
                <hr class="invisible show-for-small-only">
                <div class="small-10 medium-6 columns"><h6>Professor Jason Swedlow
                <br>Division of Computational Biology
                <br>School of Life Sciences
                <br>University of Dundee
                <br>United Kingdom</h6></div>
            </div>
        </div>
        <hr class="medium-10">
        <div class="row medium-12">
            <div class="row small-up-2 medium-up-3 large-up-6 text-center" id="team-swedlow">
                {% for member in site.data.swedlowlab.member %}
                <div class="column">
                    <a class="team-member" data-open="modal{{ forloop.index }}">
                        <img class="thumbnail" alt="photo of {{ member.givenName }} {{ member.familyName }}" src="{{ site.baseurl }}/img/team/{{ member.givenName | downcase }}_{{ member.familyName | downcase }}.jpg">
                        <h5>{{ member.givenName }} {{ member.familyName }}
                        {% if member['@id'] %}
                        <a href="{{ member['@id'] }}">
                            <img alt="ORCID logo"
                             src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png"
                             width="16" height="16" />
                        </a>
                        {% endif %}
                     </h5>
                        <p class="job-title">{{ member.jobTitle }}</p>
                        <span class="bio-link tiny button hollow">Read Bio</span>
                    </a>
                    <div class="reveal" id="modal{{ forloop.index }}" data-reveal>
                      <h4 class="text-center">{{ member.givenName }} {{ member.familyName }}</h4>
                      <p class="job-title">{{ member.jobTitle }}</p>
                      <hr>
                      <p>{{ member.description }}</p>
                      <button class="close-button" data-close aria-label="Close reveal" type="button">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- end Swedlow Lab -->

        <!-- begin Development teams -->
        <hr class="whitespace">
        <div class="row">
            <div class="small-12 columns text-center">
                <h2>Development Teams</h2>
                <p class="subheader">Other teams are also working on developing or integrating OME tools.</p>
            </div>
        </div>
        <hr class="medium-10">
        <div class="row small-12 medium-8">
            <div id="partnerships" class="row small-up-2 medium-up-3 large-up-4">
                {% for devteam in page.development_teams %}
                <div class="column"><a target="_blank" href="{{ devteam.link }}"><div class="card-consortium card"><div class="card-section"><i class="fa fa-flask"></i> {{ devteam.team_name }}</div></div></a></div>
                {% endfor %}
            </div>
        </div>
        <hr class="whitespace">
        <!-- end  Development teams -->

         <!-- begin Former team members -->
            <hr class="whitespace">
            <div class="row text-center">
                <div class="small-12 columns">
                    <h3>Former members of the OME team in Dundee</h3>
                </div>
            </div>
            <hr>
            <div class="row medium-up-2 large-up-3 contributors-list">
                {% for alumni in site.data.swedlowlab.alumni %}
                <div class="large-expand columns">
                {{ alumni.name }}
                {% if alumni.identifier %}
                <a href="{{ alumni.identifier }}" target="_blank"><img src="{{ site.baseurl }}/img/logos/3rd-party-GitHub-Mark-32px.png" width="16" height="16" alt="GitHub Logo" /></a>
                {% endif %}
                </div>
                {% endfor %}

            </div>
            <hr class="whitespace">
            <!-- end Former OME Team Members -->

        <hr class="whitespace">
