---
layout: default
title: OMERO
---          
        <header class="marketing-hero" id="bg-image-omero">
            <div class="row homepage text-center bg-image-text-container">
                <div class="small-12 columns">
                    <h1 class="hero-main-header"><img src="{{ site.baseurl }}/img/logos/omero-white.svg" alt="OMERO logo" class="logo-hero" /></h1>
                    <p class="hero-subheader small-12">From the microscope to publication, OMERO handles all your images in a secure central repository. You can view, organize, analyze and share your data from anywhere you have internet access. Work with your images from a desktop app (Windows, Mac or Linux), from the web or from 3rd party software. Over 140 image file formats supported, including all major microscope formats.</p>
                    <br>
                    <a href="{{ site.baseurl }}/products/omero/downloads/" class="medium button sites-button hide-for-small-only btn-red">Download Version 5.3.2</a>
                </div>
            </div>
            <hr class="whitespace">
        </header>
        
        <hr class="whitespace">        
        <div class="row column text-center">
            <h2>Getting Started</h2>
            <h5 class="subheader">With our dedicated user help website and extensive technical documentation, all the information to get you started with OMERO is linked in the sections below. The institutional section is aimed at both facility managers and system administrators.</h5>
        </div>
        <hr>
        {% include omero-users.html %}
        
        <!-- begin OMERO capabilities -->
        <hr class="whitespace">
        <div class="row column text-center">
            <h2>The Power of OMERO</h2>
            <h5 class="subheader">A complete platform for managing your 
                images, OMERO has many features and expansion points to 
                integrate with your existing tools.</h5>
        </div>
        <hr>
        <div class="row small-up-1 medium-up-3">
            <div class="column text-center">
                <div class="card card-feature">
                    <div class="card-section">
                        <div class="icon-fa-feature-main card-divider"><i class="fa fa-star fa-4x"></i></div>
                        <h5>NEW</h5>
                        <p>The latest major release of OMERO is packed full of new 
                        features and functionality.</p>
                        <a href="{{ site.baseurl }}/products/omero/new/" class="button small expanded">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="column text-center">
                <div class="card card-feature">
                    <div class="card-section">
                        <div class="icon-fa-feature-main card-divider"><i class="fa fa-arrow-up fa-4x"></i></div>
                        <h5>Import</h5>
                        <p>Import over 150 image formats from microscope, graphics 
                        and other imaging formats.
                        Use the Insight client, command line interface or transfer 
                        files directly to OMERO.</p>
                        <a href="{{ site.baseurl }}/products/omero/import/" class="button small expanded">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="column text-center">
                <div class="card card-feature">
                    <div class="card-section">
                        <div class="icon-fa-feature-main card-divider"><i class="fa fa-sitemap fa-4x"></i></div>
                        <h5>Organize</h5>
                        <p>Annotate your data with Tags, Comments, Files and more.
                        Browse or Search your images and share with collaborators.</p>
                        <a href="{{ site.baseurl }}/products/omero/organize/" class="button small expanded">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="column text-center">
                <div class="card card-feature">
                    <div class="card-section">
                        <div class="icon-fa-feature-main card-divider"><i class="fa fa-eye fa-4x"></i></div>
                        <h5>View</h5>
                        <p>Use OMERO clients to work with image data over the 
                        internet from anywhere. Browse thumbnails, image previews 
                        and view in full multi-dimensional viewer. High Content 
                        Screening data is also supported.</p>
                        <a href="{{ site.baseurl }}/products/omero/view/" class="button small expanded">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="column text-center">
                <div class="card card-feature">
                    <div class="card-section">
                        <div class="icon-fa-feature-main card-divider"><i class="fa fa-line-chart fa-4x"></i></div>
                        <h5>Analyze</h5>
                        <p>Use ImageJ, MATLAB, R, scripts and other tools to run 
                        analysis on data in OMERO and save results on the server.</p>
                        <a href="{{ site.baseurl }}/products/omero/analyze/" class="button small expanded">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="column text-center">
                <div class="card card-feature">
                    <div class="card-section">
                        <div class="icon-fa-feature-main card-divider"><i class="fa fa-rocket fa-4x"></i></div>
                        <h5>Publish</h5>
                        <p>Publish your raw data straight from the server using URLs
                        to link directly to the web-based image viewer in a
                        manuscript or embed images into your website.</p>
                        <a href="{{ site.baseurl }}/products/omero/publish/" class="button small expanded">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="column text-center">
                <div class="card card-feature">
                    <div class="card-section">
                        <div class="icon-fa-feature-main card-divider"><i class="fa fa-share fa-4x"></i></div>
                        <h5>Export</h5>
                        <p>Download your original image data from anywhere,
                        export as OME-TIFF or movie formats or quickly create
                        figures for publication.</p>
                        <a href="{{ site.baseurl }}/products/omero/export/" class="button small expanded">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="column text-center">
                <div class="card card-feature">
                    <div class="card-section">
                        <div class="icon-fa-feature-main card-divider"><i class="fa fa-graduation-cap fa-4x"></i></div>
                        <h5>Teach</h5>
                        <p>Set up a Virtual Microscope and connect OMERO into a
                        virtual learning environment.</p>
                        <a href="{{ site.baseurl }}/products/omero/learning/" class="button small expanded">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="column text-center">
                <div class="card card-feature">
                    <div class="card-section">
                        <div class="icon-fa-feature-main card-divider"><i class="fa fa-building fa-4x"></i></div>
                        <h5>Administrate</h5>
                        <p>Manage users and groups, send automated emails from the
                        server, use institutional authentication, and more.</p>
                        <a href="{{ site.baseurl }}/products/omero/utility/" class="button small expanded">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end OMERO capabilities -->
        
        {% include cta-omero.html %}