name: OME  Website
markdown: kramdown

url: ''
repository: openmicroscopy/www.openmicroscopy.org
baseurl: /www.openmicroscopy.org

plugins:
  - jekyll-redirect-from
  - jekyll-paginate
  - jekyll-sitemap
paginate: 10
paginate_path: "/announcements/page:num/"

collections:
    minutes:
        output: true
defaults:
  - scope:
      path: "_minutes"
      type: "minutes"
    values:
      layout: "minute"
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
      permalink: /:year/:month/:day/:title.html
  - scope:
      path: ""
    values:
      layout: "default"

future: true

bf:
 version: 7.3.0

omero:
 version: 5.6.10
 majorversion: 5.6
 insight:
  version: 5.8.3
 matlab:
  version: 5.5.6

omecommoncpp:
  version: 5.5.0

omeqtwidgets:
 version: 5.4.3

omefiles:
 version: 0.5.0
 build: 25

omecmakesuperbuild:
 version: 0.5.0
