name: OME  Website
markdown: kramdown

url: https://ome.github.io
repository: openmicroscopy/www.openmicroscopy.org
baseurl: /www.openmicroscopy.org

plugins:
  - jekyll-redirect-from
  - jekyll-paginate
  - jekyll-sitemap
paginate: 10
paginate_path: "/announcements/page:num/"

collections:
    minutes:
        output: true
defaults:
  - scope:
      path: ""
      type: "minutes"
    values:
      layout: "minute"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"

future: true

bf:
 version: 6.5.1

omero:
 version: 5.6.3
 majorversion: 5.6
 build: b228
 insight:
  version: 5.5.14
 matlab:
  version: 5.5.3

omecommoncpp:
  version: 5.5.0

omemodel:
  version: 6.0.0

omeqtwidgets:
 version: 5.4.3

omefiles:
 version: 0.5.0
 build: 25

omecmakesuperbuild:
 version: 0.5.0
