---
layout: default
title: Home
meta_description: The Open Microscopy Environment (OME) is a consortium of universities, research labs, industry and developers producing open-source software and format standards for microscopy data.
sites_powered:
    - site_link: http://jcb-dataviewer.rupress.org/
      src: jcb.gif
      alt_text: The Journal of Cell Biology
    - site_link: http://www.cellimagelibrary.org/
      src: ascb.gif
      alt_text: Cell Image Library
    - site_link: http://www.stowers.org/research/publications/odr
      src: stowers.gif
      alt_text: Stowers Institute for Medical Research
    - site_link: http://lincs.hms.harvard.edu/
      src: lincs.gif
      alt_text: LINCS
    - site_link: http://ssbd.qbic.riken.jp/
      src: ssbd.gif
      alt_text: SSBD Database
    - site_link: https://www.ebi.ac.uk/pdbe/
      src: pdbe.gif
      alt_text: Protein Data Bank Europe
    - site_link: http://movincell.org/
      src: movincell.gif
      alt_text: Movincell
    - site_link: https://idr.openmicroscopy.org/about/
      src: idr.gif
      alt_text: IDR
    - site_link: https://human-embryology.org/wiki/Main_Page
      src: dec.jpg
      alt_text: Digital Embryology Consortium
many_thanks:
    - site_link: https://github.com/openmicroscopy
      src: github.gif
      alt_text: GitHub
    - site_link: https://trac.openmicroscopy.org/
      src: trac.gif
      alt_text: Trac
    - site_link: https://ci.openmicroscopy.org/
      src: jenkins.gif
      alt_text: Jenkins
    - site_link: https://travis-ci.org/openmicroscopy/openmicroscopy
      src: travis.gif
      alt_text: Travis
---

        <!-- begin banner announcement -->
        <section class="announcement bg-ome-red">
            <span>
            <i class="fa fa-bullhorn"></i>
            Announcement: OMERO.web 
            <a class="styled-link" href="{{ site.baseurl }}/2022/02/18/omeroweb-django-upgrade.html">
            upgrade</a>  to Django 3.2.
            </span>
        </section>
        <!-- end banner announcement -->

        <!-- begin standard header to be hidden when event like community meeting is announced -->
        <header class="marketing-hero" id="bg-image-main">
            <div class="row homepage text-center">
              <div class="small-12 columns bg-image-text-container">
              <h1 class="hide-for-small-only hero-main-header small-12">The Open Microscopy Environment</h1>
              <h1 class="show-for-small-only hero-main-header"><img src="{{ site.baseurl }}/img/logos/ome-white.svg" alt="OME logo" class="logo-hero" /></h1>
              <p class="hero-subheader small-10 small-offset-1 medium-6 medium-offset-3">OME is a consortium of universities, research labs, industry and developers producing open-source software and format standards for microscopy data.</p>
              <br>
              <a href="{{ site.baseurl }}/events/" class="large button sites-button btn-red">Upcoming Workshops</a>
              &nbsp;&nbsp;
              <a href="{{ site.baseurl }}/2022/02/24/bio-formats-6-9-0.html" class="large button sites-button btn-red">Latest release</a>
              <br>
              <a href="{{ site.baseurl }}/events/ome-community-meeting-2021/" class="large button sites-button btn-blue">OME 2021 Community Meeting</a>
              </div>
            </div>
        </header>

        <!-- end standard header -->
        <!-- begin marketing header -->
        <!-- header class="marketing-hero" id="bg-hero-ome-community-meeting-2020">
            <div class="row homepage text-center">
                <div class="small-12 columns bg-image-text-container">
                    <h1 class="small-12">OME 2021 Community Meeting</h1>
                    <h5 class="small-10 small-offset-1 medium-4 medium-offset-4 bold text-shadow-light">Join us from June 08th to June 11th 2021 for our virtual community meeting.</h5>
                    <br>
                    <a href="{{ site.baseurl }}/events/ome-community-meeting-2021/" class="large button sites-button btn-red">View the programme</a>
                </div>
            </div>
        </header>
        < end marketing header -->

        <!-- begin OMERO highlight -->
        <hr class="whitespace">
        <div class="row column text-center">
            <h2><img src="{{ site.baseurl }}/img/logos/omero.svg" alt="OMERO logo" class="section-title-logo" /></h2>
            <p class="subheader small-12 medium-6 medium-offset-3">OMERO is client-server software for managing, visualizing and analyzing microscopy images and associated metadata.</p>
        </div>
        <hr class="medium-10">
        {% include omero-users.html %}
        <!-- end OMERO highlight -->

        <!-- begin Bio-Formats highlight -->
        <hr class="whitespace">
        <div class="row column text-center">
            <h2><img src="{{ site.baseurl }}/img/logos/bio-formats.svg" alt="Bio-Formats logo" class="section-title-logo" /></h2>
            <h5 class="subheader">Bio-Formats is a Java library for reading and writing image files, which can be used as a plugin for many analysis and informatics solutions or incorporated into your own software.</h5>
        </div>
        <hr>
        <div class="row column text-center">
            <p>Bio-Formats is a software tool for reading and writing image data, with a standardized application interface that supports open-source analysis programs like ImageJ and CellProfiler, informatics solutions like OMERO, and commercial programs like MATLAB. It supports over 140 file formats including High Content Screening formats, time lapse imaging and digital pathology. Bio-Formats is a community driven project and we always welcome your input.</p>
            <a href="{{ site.baseurl }}/bio-formats/">Get started with Bio-Formats <i class="fa fa-long-arrow-right"></i></a>
        </div>
        <!-- end Bio-Formats highlight -->

        <!-- begin OME Files highlight -->
        <hr class="whitespace">
        <div class="row column text-center">
            <h2><img src="{{ site.baseurl }}/img/logos/ome-files.svg" alt="OME Files logo" class="section-title-logo" /></h2>
            <h5 class="subheader">OME Files is a reference implementation of the OME data model and the OME-TIFF file format for developers to use in their own software.</h5>
        </div>
        <hr>
        <div class="row column text-center">
            <p>OME Files is a package of tools for reading and writing the standard OME-TIFF file format and working with the OME data model, which builds upon what began as a native C++ implementation of Bio-Formats. Potential uses include export of images using OME-TIFF, saving of acquired image data in OME-TIFF, reading metadata and image data from OME-TIFF for visualization and analysis, or use of the data model metadata APIs for handling metadata.</p>
            <a href="{{ site.baseurl }}/ome-files/">Get started with OME Files <i class="fa fa-long-arrow-right"></i></a>
        </div>
        <!-- end OME Files highlight -->

        <!-- begin Sites Powered by OME Technology -->
        <hr class="whitespace">
        <div class="row column text-center">
            <h2>Sites Powered by OME Technology</h2>
        </div>
        <hr>
        <div id="powered-sites" class="row medium-up-4 large-up-5">
        {% for logo_sp in page.sites_powered %}
            <div class="column"><a href="{{ logo_sp.site_link }}" target="_blank"><img class="thumbnail their-logo" src="img/logos/user_{{ logo_sp.src }}" alt="{{ logo_sp.alt_text }} logo"></a></div>
        {% endfor %}
        </div>
        <!-- end Sites Powered by OME Technology -->

        <!-- begin Many Thanks -->
        <hr class="whitespace">
        <div class="row column text-center">
            <h2>Many Thanks</h2>
        </div>
        <hr>
        <div id="thank-you-sites" class="row medium-up-5 large-up-5">
        {% for logo_mt in page.many_thanks %}
            <div class="column"><a href="{{ logo_mt.site_link }}" target="_blank"><img class="thumbnail their-logo" src="img/logos/thanks_{{ logo_mt.src }}" alt="{{ logo_mt.alt_text }} logo"></a></div>
        {% endfor %}
        </div>
        <hr class="whitespace">
        <!-- end Many Thanks -->

        <hr class="whitespace">
