---
layout: default-no-anchor
title: OMERO
usergroup: omero
---          
        {% include navbar-sub-omero.html %}

        <header class="marketing-hero" id="bg-image-omero">
            <div class="row homepage text-center bg-image-text-container">
                <div class="small-12 columns">
                    <h1 class="hero-main-header"><img src="{{ site.baseurl }}/img/logos/omero-white.svg" alt="OMERO logo" class="logo-hero" /></h1>
                    <p class="hero-subheader small-12">
                        From the microscope to <a href="{{ site.baseurl }}/omero/features/publish/">publication</a>,
                        OMERO handles all your images in a secure central
                        repository. You can <a href="{{ site.baseurl }}/omero/features/view/">view</a>, <a href="{{ site.baseurl }}/omero/features/organize/">organize</a>, <a href="{{ site.baseurl }}/omero/features/analyze/">analyze</a> and <a href="{{ site.baseurl }}/omero/features/organize/">share</a> your data from anywhere you
                        have internet access. Work with your images from a
                        desktop app (Windows, Mac or Linux), from the web or
                        from 3rd party software. Over 140 image file formats
                        supported, including all major microscope formats.
                    </p>
                    <br>
                    <a href="{{ site.baseurl }}/omero/downloads/" class="large button sites-button btn-red">Download Version {{ site.omero.majorversion }}</a>
                    <a href="https://docs.openmicroscopy.org/omero/{{ site.omero.version }}/" target="_blank" class="hero-link">Read the Docs</a>
                </div>
            </div>
        </header>
        
        <hr class="whitespace">        
        <div class="row column text-center">
            <h2>Getting Started</h2>
            <h5 class="subheader">With our dedicated user help website and extensive technical documentation, all the information to get you started with OMERO is linked in the sections below. The institutional section is aimed at both facility managers and system administrators.</h5>
        </div>
        <hr>
        {% include omero-users.html %}
        
        <!-- begin OMERO capabilities -->
        <hr class="whitespace">
        <div class="row column text-center">
            <h2>The Power of OMERO</h2>
            <h5 class="subheader">A complete platform for managing your 
                images, OMERO has many features and expansion points to 
                integrate with your existing tools.</h5>
        </div>
        <hr>
        <hr class="invisible">
        <div class="row small-up-12 medium-up-3">        
            <div class="column">
                <a href="{{ site.baseurl }}/omero/features/">
                <i class="icon-fa-red fa fa-star fa-2x"></i>
                </a>
                <div class="omero-key-feature-container">
                    <h4>NEW</h4>
                    <p>The recent releases of OMERO are packed full of new 
                    features and functionality.</p>
                    <a href="{{ site.baseurl }}/omero/features/" class="button small">Learn more</a>
                </div>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/omero/features/import/">
                <i class="icon-fa-blue fa fa-upload fa-2x"></i>
                </a>
                <div class="omero-key-feature-container">
                    <h4>Import</h4>
                    <p>Import over 150 image formats from microscope, graphics 
                    and other imaging formats.
                    Use the Insight client, command line interface or transfer 
                    files directly to OMERO.</p>
                    <a href="{{ site.baseurl }}/omero/features/import/" class="button small">Learn more</a>
                </div>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/omero/features/organize/">
                <i class="icon-fa-green fa fa-sitemap fa-2x"></i>
                </a>
                <div class="omero-key-feature-container">
                    <h4>Organize</h4>
                    <p>Annotate your data with Tags, Comments, Files and more.
                    Browse or Search your images and share with collaborators.</p>
                    <a href="{{ site.baseurl }}/omero/features/organize/" class="button small">Learn more</a>
                </div>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/omero/features/view/">
                <i class="icon-fa-blue fa fa-eye fa-2x"></i>
                </a>
                <div class="omero-key-feature-container">
                    <h4>View</h4>
                    <p>Use OMERO clients to work with image data over the 
                    internet from anywhere. Browse thumbnails, image previews 
                    and view in full multi-dimensional viewer. High Content 
                    Screening data is also supported.</p>
                    <a href="{{ site.baseurl }}/omero/features/view/" class="button small">Learn more</a>
                </div>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/omero/features/analyze/">
                <i class="icon-fa-green fa fa-line-chart fa-2x"></i>
                </a>
                <div class="omero-key-feature-container">
                    <h4>Analyze</h4>
                    <p>Use ImageJ, MATLAB, R, scripts and other tools to run 
                    analysis on data in OMERO and save results on the server.</p>
                    <a href="{{ site.baseurl }}/omero/features/analyze/" class="button small">Learn more</a>
                </div>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/omero/features/publish/">
                <i class="icon-fa-red fa fa-rocket fa-2x"></i>
                </a>
                <div class="omero-key-feature-container">
                    <h4>Publish</h4>
                    <p>Publish your raw data straight from the server using URLs
                    to link directly to the web-based image viewer in a
                    manuscript or embed images into your website.</p>
                    <a href="{{ site.baseurl }}/omero/features/publish/" class="button small">Learn more</a>
                </div>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/omero/features/export/">
                <i class="icon-fa-green fa fa-share fa-2x"></i>
                </a>
                <div class="omero-key-feature-container">
                    <h4>Export</h4>
                    <p>Download your original image data from anywhere,
                    export as OME-TIFF or movie formats or quickly create
                    figures for publication.</p>
                    <a href="{{ site.baseurl }}/omero/features/export/" class="button small">Learn more</a>
                </div>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/omero/features/learning/">
                <i class="icon-fa-red fa fa-graduation-cap fa-2x"></i>
                </a>
                <div class="omero-key-feature-container">
                    <h4>Teach</h4>
                    <p>Set up a Virtual Microscope and connect OMERO into a
                    virtual learning environment.</p>
                    <a href="{{ site.baseurl }}/omero/features/learning/" class="button small">Learn more</a>
                </div>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/omero/features/utility/">
                <i class="icon-fa-blue fa fa-building fa-2x"></i>
                </a>
                <div class="omero-key-feature-container">
                    <h4>Administrate</h4>
                    <p>Manage users and groups, send automated emails from the
                    server, use institutional authentication, and more.</p>
                    <a href="{{ site.baseurl }}/omero/features/utility/" class="button small">Learn more</a>
                </div>
            </div>
            <div class="column">
                <a href="{{ site.baseurl }}/omero/apps/">
                <i class="icon-fa-red fa fa-cog fa-2x"></i>
                </a>
                <div class="omero-key-feature-container">
                    <h4>Apps</h4>
                    <p>Enhance your install with OMERO apps.</p>
                    <a href="{{ site.baseurl }}/omero/apps/" class="button small">Learn more</a>
                </div>
            </div>            
        </div>        
        <!-- end OMERO capabilities -->
        
        <hr class="whitespace">
        {% include back-to-top.html %}
        {% include cta-omero.html %}
