---
layout: ome-community-meeting-program-2020
nav-overview: active
title: Community Lightning Talks
subheader: You can watch the lightning talks here
speakers:
    - firstname: Caterina
      surname: Strambio De Castillia
      aff: University of Massachusetts Medical School
      link:
    - firstname: Damir
      surname: Sudar
      aff: Quantitative Imaging Systems LLC
      link:
    - firstname: Erick
      surname: Ratamero
      aff: Research IT, The Jackson Laboratory
      link:
    - firstname: Jamie
      surname: Sherman
      aff: Allen Institute for Cell Science
      link:
    - firstname: Jorge
      surname: Toledo
      aff: REDECA / Universidad de Chile
      link:
    - firstname: Michelle
      surname: Itano
      aff: University of North Carolina, Dept. of Cell Biology & Physiology
      link:
    - firstname: Stefanie
      surname: Weidtkamp-Peters
      aff: Center for Advanced Imaging, University of Duesseldorf
      link:
    - firstname: Stephen
      surname: Taylor
      aff: Oxford University
      link:
---

<div class="row">
    <div class="row small-up-1 medium-up-2 text-center consortium-list">
        {% for speaker in page.speakers %}
        <div class="columns">{% if speaker.link %}<a target="_blank" href="{{ speaker.link }}">{% endif %}{{ speaker.firstname }} {{ speaker.surname }}{% if speaker.link %}</a>{% endif %} <span class="institution">{{ speaker.aff }}</span></div>
        {% endfor %}
    </div>
</div>
