---
layout: ome-community-meeting-program-2020
nav-talks: active
title: Community Lightning Talks
subheader: Links to the lightning talks will be available here
speakers:
    - firstname: Michelle
      surname: Itano
      aff: University of North Carolina, Dept. of Cell Biology & Physiology
      title: "A pilot study setting up Omero and iRODS in the UNC Neuroscience Microscopy Core"
      link:
    - firstname: Erick
      surname: Ratamero
      aff: Research IT, The Jackson Laboratory
      title: "Future-proofing imaging data analysis with OMERO"
      link:
    - firstname: Jamie
      surname: Sherman
      aff: Allen Institute for Cell Science
      title:
      link:
    - firstname: Damir
      surname: Sudar
      aff: Quantitative Imaging Systems LLC
      title: "Leveraging OME tools in highly multi-channel imaging: suggestions to make it even better"
      link:
    - firstname: Jorge
      surname: Toledo
      aff: REDECA / Universidad de Chile
      title:
      link:
    - firstname: Stefanie
      surname: Weidtkamp-Peters
      aff: Center for Advanced Imaging, University of Duesseldorf
      title:
      link:
---

<div class="row">
    <div class="row small-up-1 medium-up-2 consortium-list">
        {% for speaker in page.speakers %}
        <div class="columns">{% if speaker.link %}<a target="_blank" href="{{ speaker.link }}">{% endif %}<h5>{% if speaker.link %}<i class="fa fa-link"></i>{% endif %} {{ speaker.title }}</h5>{% if speaker.link %}</a>{% endif %}<p>{{ speaker.firstname }} {{ speaker.surname }}, <span class="italic">{{ speaker.aff }}</span></p></div>
        {% endfor %}
    </div>
</div>
