---
layout: omero-usergroup
title: OMERO View Images
---     

    <!-- begin Why Use OMERO -->
    <hr class="whitespace">        
    <div class="row column text-center">
        <h3>Viewing Images</h3>
        <hr>
        <h5 class="subheader">
            Use OMERO's 5-dimensional image viewers to scroll through Z and time.
        </h5>
        <h5 class="subheader">
            Adjust rendering settings then copy and paste them to other images.
        </h5>
        <hr>
        <div class="row small-up-3 large-up-3">

            <div class="column text-center">
                <img class="thumbnail" src="http://placehold.it/300x150">
                <h5>View images</h5>
                <p>Browse thumbnails, image previews and full images, including 'split-channel' views and Z-projections.</p>
                <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/viewing-data.html" target="_blank">Insight user guide</a>
                <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/web-client.html" target="_blank">Web user guide</a>
            </div>
            <div class="column text-center">
                <img class="thumbnail" src="http://placehold.it/300x150">
                <h5>Rendering settings</h5>
                <p>Edit, save, copy and paste rendering settings between images.</p>
                <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/viewing-data.html#rendering" target="_blank">User guide</a>
            </div>
            <div class="column text-center">
                <img class="thumbnail" src="http://placehold.it/300x150">
                <h5>Apply Look-up Tables</h5>
                <p>Render images with Look-up tables and reverse intensity mapping.</p>
                <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/bio-formats5/supported-formats.html" target="_blank">Supported formats</a>
            </div>
            <div class="column text-center">
                <img class="thumbnail" src="http://placehold.it/300x150">
                <h5>Big images</h5>
                <p>OMERO supports large images, with infrastructure and viewers to support panning and zooming.</p>
                <a class="button hollow tiny expanded" href="#" target="_blank">Read more</a>
            </div>
            <div class="column text-center">
                <img class="thumbnail" src="http://placehold.it/300x150">
                <h5>HCS data</h5>
                <p>View a Screen Plate Well hierarchy and Well layout.</p>
                <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/viewing-data.html#screen" target="_blank">User guide</a>
            </div>
        </div>
    </div>
    <!-- end Why Use OMERO -->
    <hr class="whitespace">    
