        <!-- begin Big Images -->
        <hr class="whitespace">        
        <div class="row column text-center">
            <h3>Big Images Support</h3>
            <p>File formats just keep getting more complex but OME tools keep evolving too - from extending file format support via Bio-Formats to improving support for visualization in OMERO clients, we’re always innovating for the community.</p>
        </div>
        <hr>
        <div class="row">
            <div class="medium-10 medium-centered columns">
                <div class="row horizontal">
                    <div class="column">
                        <p>OMERO is designed with big images in mind. Both OMERO.web and the desktop client OMERO.insight support panning and zooming of big images in much the same way as Google maps, and there’s a ‘mini view’ to help you keep track of where in the image you are, especially useful when you’re zooming in. As well as viewing, you can also draw Regions of Interest and coming in OMERO 5.3.0 is the ‘Folders’ functionality, allowing you to group these ROIs and make them more usable when you have hundreds on an image. Importing images is as efficient as possible with processing occurring on the server after the files have been uploaded and file integrity reports ensure you can safely avoid data duplication because you know your data is safely stored and can be exported in a variety of formats if needed.</p>
                        <img class="thumbnail" src="http://placehold.it/1000x300">                    
                        <p>{{page.paragraph}}</p>
                        <p>Bio-Formats also plays a crucial role in supporting a range of big image file formats. Our team of developers work hard to troubleshoot images submitted by the community and improve the quality of the file support with regular bug-fix releases of this file format translation tool.</p>
                        <a href="http://cvs.openmicroscopy.org.uk/snapshots/movies/omero-4-3/mov/BigImages.mov" target="_blank" class="button expanded">Watch the Video</a>
                        <p style="color: red;">[N.B. we’ll need a new video here too, probably an IDR demo would work, I’ll chase that up at some point - Helen]</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="whitespace">
        <!-- end Big Images --> 