        <link rel="stylesheet" type="text/css" media="all" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic">
        <link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/foundation.min.css">
        <link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/responsive-tables.css">
        <link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/openmicroscopy.css">