<!-- begin CTA -->
<hr class="whitespace">
<header class="marketing-hero marketing-hero-omero-figure">
    <div class="row">
        <div class="small-12 columns bg-image-text-container-cta text-center">
            <h2>Power of the web</h2>
            <p>
                You can create beautiful figures in your browser, then share them
                with others. Depending on your OMERO permissions settings, you can
                even make them public, so everyone can explore your figures
                interactively.
            </p>
            <a href="{{ site.baseurl }}/omero/downloads/" class="medium btn-red button sites-button">Download OMERO</a>
            <a href="https://pypi.python.org/pypi/omero-figure/" class="medium btn-red button sites-button">Install OMERO.figure</a>
        </div>
    </div>
</header>
<!-- end CTA -->