        <!-- begin CTA -->
        <hr class="whitespace">
        <header class="marketing-hero" style="background-image: url('{{ site.baseurl }}/img/bg/omero-{{ page.usergroup }}.jpg');">
            <div class="row">
                <div class="small-12 columns bg-image-text-container-cta text-center">
                    <p class="hero-subheader">Get started working with your images now</p>
                    <a href="{{ site.baseurl }}/omero/downloads/" class="large btn-red button sites-button" style="text-shadow: none;">Download OMERO</a>
                </div>
            </div>
        </header>
        <!-- end CTA -->