        <!-- begin CTA -->
        <hr class="whitespace">
        <header class="marketing-hero home-large-hero" style="background-image: url('{{ site.baseurl }}/img/bg/omero.jpg');">
            <div class="row homepage">
                <div class="text-center">
                    <h4 class="hero-subheader">Get started working with your images now</h4>
                    <p></p>
                    <p><a href="{{ site.baseurl }}/products/omero/downloads/" class="large button sites-button hide-for-small-only" style="text-shadow: none;">Download OMERO</a></p>
                </div>
            </div>
        </header>
        <!-- end CTA -->