        <!-- begin Full Features -->
        <hr class="whitespace">        
        <div class="row column text-center">
            <h3>Features - This will be the same page across all user groups.</h3>
            <h5 class="subheader">[insert blurb: Harness the full power of OMERO with all of its features: (Liza to redesign <a href="https://www.openmicroscopy.org/site/products/omero/feature-list">https://www.openmicroscopy.org/site/products/omero/feature-list</a>]</h5>
        </div>        
        <hr>        
        <div class="row small-up-2 large-up-4">
            <div class="column">
                <img class="thumbnail" src="http://placehold.it/300x300" alt="Liza to illustrate">
                <h6 class="text-center">Feature</h6>
            </div>
            <div class="column">
                <img class="thumbnail" src="http://placehold.it/300x300" alt="Liza to illustrate">
                <h6 class="text-center">Feature</h6>
            </div>
            <div class="column">
                <img class="thumbnail" src="http://placehold.it/300x300" alt="Liza to illustrate">
                <h6 class="text-center">Feature</h6>
            </div>
            <div class="column">
                <img class="thumbnail" src="http://placehold.it/300x300" alt="Liza to illustrate">
                <h6 class="text-center">Feature</h6>
            </div>
        </div>
        <!-- end Full Features -->
        
        <hr class="whitespace"> 