        <!-- begin Full Features -->
        <hr class="whitespace">        
        <div class="row column text-center">
            <h3>Full Feature List</h3>
            <h5 class="subheader">[ Helen - insert blurb: Harness the full power of OMERO with all of its features blah blah] (Liza to redesign <a href="https://www.openmicroscopy.org/site/products/omero/feature-list">https://www.openmicroscopy.org/site/products/omero/feature-list</a>]</h5>
        </div>        
        <hr>
        <div class="medium-12 large-12 columns">            
            <article>
                <div class="row">
                    <div class="small-12 columns">                                   
                        <div class="column row">
                            <ul class="tabs" data-tabs id="example-tabs">
                                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">NEW</a></li>
                                <li class="tabs-title"><a href="#panel2">Import</a></li>
                                <li class="tabs-title"><a href="#panel3">Organize</a></li>
                                <li class="tabs-title"><a href="#panel4">Metadata</a></li>
                                <li class="tabs-title"><a href="#panel5">View</a></li>
                                <li class="tabs-title"><a href="#panel6">Analyze</a></li>
                                <li class="tabs-title"><a href="#panel7">Export</a></li>
                                <li class="tabs-title"><a href="#panel8">Utility functions</a></li>
                            </ul>
                            <div class="tabs-content text-center" data-tabs-content="example-tabs">
                                <!-- begin Panel 1 options -->
                                <div class="tabs-panel is-active" id="panel1">
                                    <h3>NEW Features</h3>
                                    <hr class="whitespace hide-for-small-only">
                                    <div class="row small-up-3 medium-up-3 large-up-6 text-center">
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Updated prerequisites</h5>
                                            <p>Updated Java support and other prerequisites mean your data is always secure in OMERO.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5.2/sysadmins/whatsnew.html" target="_blank">Sysadmin updates summary</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Screen data viewing</h5>
                                            <p>Clients now better support screen data, with faster loading and better UI experience.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/viewing-data.html#screen" target="_blank">Viewing data guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Improved UI for metadata</h5>
                                            <p>Updates to right hand pane of the UI for improved display of extensive metadata and annotations.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/viewing-data.html#screen" target="_blank">Viewing data guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Attaching analytical results</h5>
                                            <p>Better support for attaching analytical results.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/managing-data.html" target="_blank">Managing data guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Client performance improvements</h5>
                                            <p>Loading data and drag and drop actions are now faster, especially in OMERO.web.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/" target="_blank">Managing data guide</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- begin Panel 2 options -->
                                <div class="tabs-panel" id="panel2">
                                    <h3>Import</h3>
                                    <hr class="whitespace hide-for-small-only">
                                    <div class="row small-up-3 medium-up-3 large-up-6 text-center">
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Import images</h5>
                                            <p>Import images from microscope, graphics and other imaging formats, using the OMERO.insight client.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/importing-data-5.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Supported file formats</h5>
                                            <p>OMERO imports all the formats read by Bio-Formats including microscopy, HCS, tissue scanner and graphics file formats. Over 140 in total.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/bio-formats/supported-formats.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Improved import times for large datasets</h5>
                                            <p>Stream-lined backend import process for OMERO 5.1 is now much faster for large datasets such as HCS and SPIM.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/users/cli/import.html" target="_blank">CLI importing guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Original file formats</h5>
                                            <p>OMERO.server now uploads, exports, and stores files in their original file format.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/developers/Server/FS.html" target="_blank">Developer guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>File integrity reports</h5>
                                            <p>Import process checks uploaded files aren't corrupted giving extra confidence that they are safely stored.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/importing-data-5.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>DropBox</h5>
                                            <p>Full-fledged "DropBox" — allows automatic import from a defined directory of all supported file formats.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/sysadmins/dropbox.html" target="_blank">Sysadmin guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Command Line Import</h5>
                                            <p>Use the command line to import images into OMERO.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/users/cli/import.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Import-For</h5>
                                            <p>Group owners and sysadmins can import data for other users in that group, which they will then own.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/importing-data-5.html#import-for" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Reduced storage requirements</h5>
                                            <p>Import process doesn't duplicate pixel data so storage requirements are roughly halved compared with 4.4 import and original file archiving.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/developers/ImportFS.html" target="_blank">Overview guide</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- begin Panel 3 options -->
                                <div class="tabs-panel" id="panel3">
                                    <h3>Organize</h3>
                                    <hr class="whitespace hide-for-small-only">
                                    <div class="row small-up-3 medium-up-3 large-up-6 text-center">
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Manage and organize</h5>
                                            <p>Manage, organize and delete images within Projects and Datasets. </p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/managing-data.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Improved searching</h5>
                                            <p>Functionality of search has been improved in both clients.</p>
                                            <a class="button hollow tiny expanded" href="https://www.youtube.com/watch?v=47cDhPtLJRo" target="_blank">Watch movie</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Browse and view images</h5>
                                            <p>Browse and view images remotely on cross-platform software.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/viewing-data.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Permissions</h5>
                                            <p> OMERO permissions functionality allows users to share data within groups of scientists and collaborate on their data.
                                            Browse multiple groups and move data between them. Group owners have extra capabilities.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero/sysadmins/server-permissions.html" target="_blank">Sysadmin guide</a>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/sharing-data.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Annotate data</h5>
                                            <p>Annotate your data with descriptions, comments, file attachments, tags or rating.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/managing-data.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Share</h5>
                                            <p>Share sets of images with other users and have a conversation about the data.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/sharing-data.html" target="_blank">User guide</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- begin Panel 4 options -->
                                <div class="tabs-panel" id="panel4">
                                    <h3>Metadata</h3>
                                    <hr class="whitespace hide-for-small-only">
                                    <div class="row small-up-3 medium-up-3 large-up-6 text-center">
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Metadata</h5>
                                            <p>Browse image acquisition metadata in OMERO.insight and OMERO.web.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/managing-data.html#metadata" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Model updates</h5>
                                            <p>5.1 added support for units and new more flexible user-added metadata.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/ome-model/schemas/january-2015.html" target="_blank">Model update guide</a>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/managing-data.html#keyvalue" target="_blank">Adding metadata guide</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- begin Panel 5 options -->
                                <div class="tabs-panel" id="panel5">
                                    <h3>View</h3>
                                    <hr class="whitespace hide-for-small-only">
                                    <div class="row small-up-3 medium-up-3 large-up-6 text-center">
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>View images</h5>
                                            <p>Browse thumbnails, Image previews and open a Full image viewer in OMERO.web and OMERO.insight. Includes 'split-channel' view and Z-projection.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/viewing-data.html" target="_blank">Insight user guide</a>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/web-client.html" target="_blank">Web user guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Complex multidimensional datasets</h5>
                                            <p>Improved support in the clients and via Bio-Formats 5.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/bio-formats5/supported-formats.html" target="_blank">Supported formats</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Rendering settings</h5>
                                            <p>Improvements in rendering settings workflow especially in OMERO.web.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/viewing-data.html#rendering" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Big images</h5>
                                            <p>OMERO supports large images, with infrastructure and viewers to support panning and zooming.</p>
                                            <a class="button hollow tiny expanded" href="#" target="_blank">Read more</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>HCS data</h5>
                                            <p>HCS data can be viewed in a Screen / Plate / Well hierarchy in the OMERO.insight and OMERO.web clients.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/viewing-data.html#screen" target="_blank">User guide</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- begin Panel 6 options -->
                                <div class="tabs-panel" id="panel6">
                                    <h3>Analyze</h3>
                                    <hr class="whitespace hide-for-small-only">
                                    <div class="row small-up-3 medium-up-3 large-up-6 text-center">
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Draw ROIs</h5>
                                            <p>Draw ROIs across multiple dimensions and measure pixel intensity. </p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/measurement-tool.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Improved ImageJ plugin</h5>
                                            <p>With 5.1 you can now import images and save ROIs and overlays from ImageJ into OMERO.</p>
                                            <a class="button hollow tiny expanded" href="https://www.youtube.com/watch?v=S-xYKpatHBs" target="_blank">View movie</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Scripting service</h5>
                                            <p>Write Python scripts to add functionality to the OMERO.server. Share your scripts with the community.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/developers/index.html#omero-scripts-plugins-for-omero" target="_blank">Developer guide</a>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/community/scripts" target="_blank">Script sharing page</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Python Blitz API</h5>
                                            <p>The Python 'Blitz' Gateway provides an easy-to-use API for OMERO making it easier to work with your data in Python.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/developers/Python.html" target="_blank">Developer guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Image Processing</h5>
                                            <p>The Scripting Service can be used to add image processing and analysis functionality to the OMERO server.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/community/scripts/" target="_blank">Find new scripts</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Tablular Data support</h5>
                                            <p>HDF-based storage of measurement results with an API for exporting to Excel using OMERO.tables.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/developers/analysis.html#storing-external-data-in-omero" target="_blank">Developer guide</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- begin Panel 7 options -->
                                <div class="tabs-panel" id="panel7">
                                    <h3>Export</h3>
                                    <hr class="whitespace hide-for-small-only">
                                    <hr class="whitespace hide-for-small-only">
                                    <div class="row small-up-3 medium-up-3 large-up-6 text-center">
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Figure export</h5>
                                            <p>Export your data as figures for presentation.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/publish.html#figures" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Export images</h5>
                                            <p>Export whole Images as OME-TIFFs or other supported formats.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/export.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Export to ImageJ</h5>
                                            <p>Export any image as OME-TIFF or connect to OMERO with the <a href="http://rsbweb.nih.gov/ij/" htarget="_blank">ImageJ</a> plugin to open images in ImageJ</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/imagej.html" target="_blank">OMERO-IMageJ guide</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- begin Panel 7 options -->
                                <div class="tabs-panel" id="panel8">
                                    <h3>Utility functions</h3>
                                    <hr class="whitespace hide-for-small-only">
                                    <div class="row small-up-3 medium-up-3 large-up-6 text-center">
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>OMERO Virtual machine</h5>
                                            <p>If you want to run the OMERO server without doing a full install, you can now get OMERO all ready set-up in a VM.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/users/virtual-appliance.html" target="_blank">How-to guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Manage users &amp; groups</h5>
                                            <p>Server administrators can add and manage users and groups with the admin tools.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/sharing-data.html#admin" target="_blank">Guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>OMERO.mail</h5>
                                            <p>Sysadmins can use a new GUI to email users from the server.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5.1/sysadmins/mail.html" target="_blank">Configuration guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Delete</h5>
                                            <p>New asynchronous Delete infrastructure with much improved performance and lower memory requirements.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/developers/Modules/Delete.html" target="_blank">Read more</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Command Line</h5>
                                            <p>Many OMERO functions can be accessed from the command line (also see Import above).</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/users/cli/index.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>imageJ plugin</h5>
                                            <p>The ImageJ plugin includes the whole OMERO.insight client.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/imagej.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>ImageJ plugin</h5>
                                            <p>The ImageJ plugin includes the whole OMERO.insight client.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/imagej.html" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Quality Assurance</h5>
                                            <p>Feedback system that allows users to send comments, bugs, or data files, and to track responses and updates.</p>
                                            <a class="button hollow tiny expanded" href="http://qa.openmicroscopy.org.uk/" target="_blank">Read more</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Demo server</h5>
                                            <p>Take the advantage of OMERO platform and see it all in action for yourself.</p>
                                            <a class="button hollow tiny expanded" href="http://qa.openmicroscopy.org.uk/registry/demo_account/" target="_blank">Get free demo</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>LDAP support</h5>
                                            <p>The Lightweight Directory Access Protocol (LDAP) support.</p>
                                            <a class="button hollow tiny expanded" href="https://www.openmicroscopy.org/site/support/omero5/sysadmins/server-ldap.html" target="_blank">Read more</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Personalize</h5>
                                            <p>Edit your account details and upload your photo to personalise your account.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/managing-data.html#settings" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Personalize</h5>
                                            <p>Edit your account details and upload your photo to personalise your account.</p>
                                            <a class="button hollow tiny expanded" href="http://help.openmicroscopy.org/managing-data.html#settings" target="_blank">User guide</a>
                                        </div>
                                        <div class="column">
                                            <img class="thumbnail" src="http://placehold.it/300x300">
                                            <h5>Feedback and support</h5>
                                            <p>From full documentation, and user support on forum and mailing lists, we’ve got you covered.</p>
                                            <a class="button hollow tiny expanded" href="#" target="_blank">Get help</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                                        
                    </div>
                </div>                     
            </article>            
        </div>        
        <!-- end Full Features -->
        
        <hr class="whitespace"> 