        <div id="footer" class="callout large secondary">
            <div class="row">
                <div class="small-12 medium-4 columns">
                    <div class="medium-4"><a href="{{ site.baseurl }}/index.html"><img class="footer-logo" src="{{ site.baseurl }}/img/logos/ome-main-nav.svg" alt="OME logo" /></a></div>
                    <p>&copy; 2005-{{ site.time | date: "%Y" }} University of Dundee &amp; Open Microscopy Environment. <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a></p>
                    <p>OME source code is available under the <a href="http://www.gnu.org/copyleft/gpl.html">GNU General public license</a> or more permissive open source licenses, or through commercial license from <a href="https://www.glencoesoftware.com" target="_blank">Glencoe Software</a>.</p>
                    <p class="tiny-print" style="float:left;">[ <a href="{{ site.baseurl }}/site-map/">Site Map</a> ]</p>
                    <p class="tiny-print" style="float:right;">Version: {{ site.time | date: '%Y.%m.%d' }}</p>
                </div>
                <div class="medium-2 columns">
                    <h6>Learn About Us</h6>
                    <ul class="menu vertical">
                        <li><a href="{{ site.baseurl }}/about/">Who We Are</a></li>
                        <li><a href="{{ site.baseurl }}/teams/">Our Team</a></li>
                        <li><a href="{{ site.baseurl }}/explore/">What We Can Do</a></li>
                        <li><a href="{{ site.baseurl }}/news/">What We’re Up To</a></li>
                        <li class="hide-for-large-only">&nbsp;</li>
                    </ul>
                </div>
                <div class="medium-2 columns">
                    <h6>Try Our Products</h6>
                    <ul class="menu vertical">
                        <li><a href="{{ site.baseurl }}/omero/downloads/">OMERO <span class="badge">Download</span></a></li>
                        <li><a href="{{ site.baseurl }}/bio-formats/downloads">Bio-Formats <span class="badge">Download</span></a></li>
                        <li><a href="{{ site.baseurl }}/ome-files/downloads">OME Files <span class="badge">Download</span></a></li>
                        <li class="hide-for-large-only">&nbsp;</li>
                    </ul>
                </div>
                <div class="medium-2 columns">
                    <h6>Knowledge Base</h6>
                    <ul class="menu vertical">
                        <li><a href="{{ site.baseurl }}/support/">Support</a></li>
                        <li><a href="{{ site.baseurl }}/docs/">Documentation</a></li>
                        <li><a href="https://omero-guides.readthedocs.io/">User Guides</a></li>
                        <li><a href="{{ site.baseurl }}/forums">Forum</a></li>
                        <li class="hide-for-large-only">&nbsp;</li>
                    </ul>
                </div>
                <div class="medium-2 columns end">
                    <h6>OME Public</h6>
                    <ul class="menu vertical">
                        <li><a href="https://twitter.com/openmicroscopy" target="_blank"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
                        <li><a href="https://www.linkedin.com/company/ome---open-microscopy-environment" target="_blank"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a></li>
                        <li><a href="https://www.facebook.com/openmicroscopy" target="_blank"><i class="fa fa-fw fa-facebook"></i> Facebook</a></li>
                        <li><a href="http://webchat.freenode.net/?channels=%23ome&amp;uio=d4" target="_blank"><i class="fa fa-fw fa-comments"></i> IRC</a></li>
                        <li><a href="{{ site.baseurl }}/on-the-web/" target="_blank"><i class="fa fa-globe"></i> On the Web</a></li>
                        <li class="hide-for-large-only">&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
