        <div class="callout large secondary">
            <div class="row">
                <div class="large-6 columns">
                    <p>&copy; 2005-{{ site.time | date: "%Y" }} University of Dundee &amp; Open Microscopy Environment. <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution 4.0 International License</a></p>
                    <p>OME source code is available under the <a href="#">GNU General public license</a> or through commercial license from <a href="http://www.glencoesoftware.com" target="_blank">Glencoe Software</a></p>
                </div>
                <div class="large-4 large-offset-2 columns">
                    <h6>Find us on social media:</h6>
                    <ul class="menu vertical">
                        <li><a href="https://twitter.com/openmicroscopy" target="_blank"><i class="fa fa-fw fa-twitter"></i> Twitter</a></li>
                        <li><a href="https://www.linkedin.com/company/ome---open-microscopy-environment" target="_blank"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a></li>
                        <li><a href="https://www.facebook.com/openmicroscopy" target="_blank"><i class="fa fa-fw fa-facebook"></i> Facebook</a></li>
                        <li><a href="http://webchat.freenode.net/?channels=%23ome&uio=d4" target="_blank"><i class="fa fa-fw fa-comments"></i> IRC</a></li>
                    </ul>
                </div>
            </div>
        </div>