<!doctype html>
<html class="no-js" lang="en" dir="ltr">

    <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_token }}"></script>
        <script>

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.ga_token }}');

        </script>
        {% if page.schemadotorg %}
        <script type="application/ld+json">
          {{ site.data.{{page.schemadotorg}} }}
        </script>
        {% endif %} 
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ page.meta_description }}" />
        <meta property="og:image" content="{{ site.baseurl }}/img/logos/ome-logo_fb.png" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.baseurl }}" />
        <meta property="og:title" content="The Open Microscopy Environment" />
        <meta property="og:description" content="A consortium of universities, research labs, industry and developers producing open-source software and format standards for microscopy data." />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="The Open Microscopy Environment">
        <meta name="twitter:image" content="https://www.openmicroscopy.org/img/logos/ome-logomark_twitter.png">
        <title>{{ page.title }} | Open Microscopy Environment (OME)</title>
        <link rel="shortcut icon" type="image/x-icon"
              href="{{ site.baseurl }}/img/favicon.png">
{% include css.html %}
    </head>

    <body>

{% include navbar-main.html %}
<a name="top-of-page"></a>
