<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} | Open Microscopy Environment (OME)</title>
        <link rel="shortcut icon" type="image/x-icon"
              href="{{ site.baseurl }}/img/favicon.png">
{% include css.html %}
    </head>
    
    <body>
    
{% include navbar-main.html %}
<a name="top-of-page"></a>
    