<!doctype html>
<html class="no-js" lang="en" dir="ltr">

    <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_token }}"></script>
        <script>

  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.ga_token }}');

        </script>
        {% if page.schemadotorg %}
        <script type="application/ld+json">
          {% assign var = page.schemadotorg %}
          {{ site.data[var] | jsonify}}
        </script>
        {% endif %}
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ page.meta_description }}" />
        <meta property="og:image" content="{{ site.baseurl }}/img/logos/ome-logo_fb.png" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.baseurl }}" />
        <meta property="og:title" content="The Open Microscopy Environment" />
        <meta property="og:description" content="A consortium of universities, research labs, industry and developers producing open-source software and format standards for microscopy data." />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="The Open Microscopy Environment">
        <meta name="twitter:image" content="https://www.openmicroscopy.org/img/logos/ome-logomark_twitter.png">
        <title>{{ page.title }} | Open Microscopy Environment (OME)</title>

        <!-- favicon from https://realfavicongenerator.net/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/apple-touch-icon.png?v=2">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png?v=2">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/favicon-16x16.png?v=2">
        <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest?v=2">
        <link rel="mask-icon" href="{{ site.baseurl }}/safari-pinned-tab.svg?v=2" color="#5bbad5">
        <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico?v=2">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">

        <!-- Mastodon -->
        <link rel="me" href="https://fosstodon.org/@ome/>

{% include css.html %}
    </head>

    <body>

{% include navbar-main.html %}
<a name="top-of-page"></a>
