        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
        </div>
        
        <!--<div data-sticky-container>
        <div class="main-nav-bar top-bar" id="main-menu" data-sticky data-options="marginTop:0;">-->
        <div class="main-nav-bar top-bar" id="main-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a class="logo" href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/img/logos/ome-main-nav.svg" alt="OME logo" /></a></li>
                    <li class="has-submenu"><a href="{{ site.baseurl }}/about/">About Us</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="{{ site.baseurl }}/about/teams/">OME Teams</a></li>
                            <li><a href="{{ site.baseurl }}/about/contributors/">Contributors</a></li>
                            <li><a href="{{ site.baseurl }}/about/commercial-partners/">Commercial Partners</a></li>
                            <li><a href="{{ site.baseurl }}/about/licensing/">Licensing</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu"><a href="{{ site.baseurl }}/community/">Community</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="{{ site.baseurl }}/community/news/">News</a></li>
                            <li><a href="{{ site.baseurl }}/community/events/">Events</a></li>
                            <li><a href="{{ site.baseurl }}/community/careers/">Careers</a></li>
                            <li><a href="{{ site.baseurl }}/community/users-meeting-notes/">Users Meeting Notes</a></li>
                            <li><a href="http://blog.openmicroscopy.org/">Blog</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu"><a href="{{ site.baseurl }}/products/">Products</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="{{ site.baseurl }}/products/omero/">OMERO</a></li>
                            <li><a href="{{ site.baseurl }}/products/bio-formats/">Bio-Formats</a></li>
                            <li><a href="{{ site.baseurl }}/products/ome-files/">OME Files</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ site.baseurl }}/support/">Support</a></li>
                    <li><a href="http://www.openmicroscopy.org/site/support">Docs</a></li>
                    <li><a href="{{ site.baseurl }}/explore/" class="button btn-indigo" style="color: #eceff1; margin-left: 10px;">Explore</a></li>
                </ul>
            </div>
        </div>
        <!--</div> make header sticky? -->