<div class="menu-subnav hide-for-small-only">
    <div class="row">
        <ul class="menu-subnav menu expanded small-12 columns">
            <li><a href="{{ site.baseurl }}/omero/">Overview</a></li>
            <li><a href="{{ site.baseurl }}/omero/downloads/">Downloads</a></li>
            <li><a href="{{ site.baseurl }}/omero/scientists/"><span class="show-for-large-only">for </span>Scientists</a></li>
            <li><a href="{{ site.baseurl }}/omero/developers/"><span class="show-for-large-only">for </span>Developers</a></li>
            <li><a href="{{ site.baseurl }}/omero/institution/"><span class="show-for-large-only">for </span>Institutions</a></li>
            <li><a href="{{ site.baseurl }}/omero/new/"><span class="show-for-large-only">Key </span>Features</a></li>
        </ul>
    </div>
</div>
