<!-- begin banner announcement -->
<section class="announcement">
    <span><i class="fa fa-bullhorn"></i> IMPORTANT: Critical security release - OMERO 5.6.1 now available - <a class="styled-link" href="{{ site.baseurl }}/2020/03/25/omero-5-6-1.html">Read the Announcement</a></span>
</section>
<!-- end banner announcement -->

<div class="title-bar" data-responsive-toggle="omero-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button> OMERO
    <div class="title-bar-title"></div>
</div>

<div class="menu-subnav" id="omero-menu">
    <div class="row">
        <ul class="vertical medium-horizontal dropdown menu-subnav menu expanded small-12 columns" data-responsive-menu="accordion medium-dropdown">
            <li><a href="{{ site.baseurl }}/omero/">Overview</a></li>
            <li><a href="{{ site.baseurl }}/omero/downloads/">Downloads</a></li>
            <li><a href="{{ site.baseurl }}/omero/scientists/"><span class="show-for-large-only">for </span>Scientists</a></li>
            <li><a href="{{ site.baseurl }}/omero/developers/"><span class="show-for-large-only">for </span>Developers</a></li>
            <li><a href="{{ site.baseurl }}/omero/institution/"><span class="show-for-large-only">for </span>Institutions</a></li>
            <li><a href="{{ site.baseurl }}/omero/features/"><span class="show-for-large-only">Key </span>Features</a></li>
        </ul>
    </div>
</div>
