        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text"><a class="logo" href="index.html">OME logo</a></li>
                    <li><a href="about.html">About Us</a>
                            <ul class="menu">
                                <li><a href="teams.html">OME Teams</a></li>
                                <li><a href="contributors.html">Contributors</a></li>
                                <li><a href="commercial-partners.html">Commercial Partners</a></li>
                            </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li><a href="#">Products</a>
                            <ul class="menu">
                                <li><a href="#">OMERO</a></li>
                                <li><a href="#">Bio-Formats</a></li>
                                <li><a href="#">OME-Files</a></li>
                            </ul>
                    </li>
                    <li><a href="#">Support</a>
                            <ul class="menu">
                                <li><a href="#">Docs</a></li>
                            </ul>
                    </li>
                    <li><a href="getting-started.html">Getting Started with OMERO</a></li>
                </ul>
            </div>
        </div>