        <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
            <div class="title-bar-title">Menu</div>
        </div>        
        
        <div class="top-bar" id="example-menu">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text"><a class="logo" href="{{ site.baseurl }}/index.html">OME logo</a></li>
                    <li class="has-submenu"><a href="{{ site.baseurl }}/about.html">About Us</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="{{ site.baseurl }}/teams.html">OME Teams</a></li>
                            <li><a href="{{ site.baseurl }}/contributors.html">Contributors</a></li>
                            <li><a href="{{ site.baseurl }}/commercial-partners.html">Commercial Partners</a></li>
                            <li><a href="{{ site.baseurl }}/licensing.html">Licensing</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="has-submenu"><a href="{{ site.baseurl }}/products.html">Products</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="{{ site.baseurl }}/omero/">OMERO</a></li>
                            <li><a href="{{ site.baseurl }}/bio-formats.html">Bio-Formats</a></li>
                            <li><a href="{{ site.baseurl }}/ome-files.html">OME Files</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu"><a href="#">Support</a>
                        <ul class="submenu menu vertical" data-submenu>
                            <li><a href="#">Documentation</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ site.baseurl }}/getting-started.html">Getting Started with OMERO</a></li>
                </ul>
            </div>
        </div>