<hr class="invisible">
<div class="row column text-center">
    <h2>{{ event.name }}</h2>
    <p class="subheader">{{ event.description }}</p>
</div>
<hr>
<hr class="invisible">

<div class="row column text-center">
    <h5>Please Note</h5>
    <p>
        This schedule is subject to change and will be updated periodically.<br/>
        The schedule will include pre-recorded videos organised by topic followed by group discussions.<br/>
        All times are in UK - British Summer Time (GMT+1).
    </p>
</div>

<h4 class="row column text-center">Speakers</h4>
{% for speaker in event.performer  %}
<div class="row small-up-1 medium-up-2 text-center consortium-list">
<a target="_blank" href="{{ speaker.sameAs }}">
{{ speaker.givenName }} {{ speaker.additionalName }} {{ speaker.familyName }}
</a>
<span class="institution">{{ speaker.affiliation.name }}</span>
</div>
{% endfor %}
</p>

<div class="row column text-center">
<h4>Video Talks</h4>
<p>Please find time to watch the videos <strong>before</strong> the corresponding discussion on each topic.</p>
<div class="medium-12 columns">
<div class="row align-right">
{% for workFeatured in event.workFeatured %}
<div class="medium-6 columns">
<div class="flex-video">
  <iframe width="420" height="315" src="{{ workFeatured.embedUrl }}" frameborder="0" allowfullscreen></iframe>
</div>
<p class="text-center"><span class="bold"> {{ workFeatured.name }}</span></p>
</div>
{% endfor %}
</div>
</div>
</div>

<div class="row column text-center">
<h4>Schedule</h4>
<p>
    The content will repeated over two sessions to accomodate our
    community across timezones.<br/>
    All times are in UK - British Summer Time (GMT+1).
</p>
</div> 
{% for session in event.subEvent %}
<div class="row column text-center">
<h5>{{ session.name }}</h5>
<p>{{ session.description }}</p>
</div> 
<div class="row align-right">
  {% for subevent in session.subEvent %}
  <div class="medium-2 medium-offset-2 columns bold"><i class="fa fa-clock-o"></i> {{ subevent.startDate | date: "%H:%M" }} - {{ subevent.endDate | date: "%H:%M" }}</div>
  <div class="medium-8 columns">
    <a name="{{ subevent.name }}"></a><h5>{{ subevent.name }}</h5>
    <p>
    {% if subevent.description %}{{ subevent.description }}<br/>{% endif %}
    {% for performer in subevent.performer %}{{ performer.givenName }} {{ performer.additionalName }} {{ performer.familyName }}, <span class="ome-green italic">{{ performer.affiliation.name }}</span><br/>{% endfor %}
    </p>
    <ul text-align="left">
    {% for evt in subevent.subEvent %}
      <li>
      <h5>{{ evt.name }}</h5>
      <p>
      {% if evt.description %}{{ evt.description }}<br/>{% endif %}
      {% for performer in evt.performer %}{{ performer.givenName }} {{ performer.additionalName }} {{ performer.familyName }}, <span class="ome-green italic">{{ performer.affiliation.name }}</span><br/>{% endfor %}
      </p>
    </li>
    {% endfor %}
    </ul>
    </div>



  {% endfor %}
</div>
{% endfor %}
