<hr class="invisible">
<div class="row column text-center">
    <h2>{{ event.name }}</h2>
    <p class="subheader">{{ event.description }}</p>
</div>
<hr>
<hr class="invisible">

<div class="row column text-center">
    <h5>Please Note</h5>
    <p>
        This schedule is subject to change and will be updated periodically.<br/>
    </p>
</div>

<!-- {% assign thesize = event.performer.size %}
{% if thesize > 1 %}
<h4 class="row column text-center">Speakers</h4>
{% else %}
<h4 class="row column text-center">Keynote Speaker</h4> -->
<!-- {% endif %}
{% for speaker in event.performer  %}
<div class="row small-up-1 medium-up-2 text-center consortium-list">
<a target="_blank" href="{{ speaker.sameAs }}">
{{ speaker.givenName }} {{ speaker.additionalName }} {{ speaker.familyName }}
</a>
<span class="institution">{{ speaker.affiliation.name }}</span>
</div>
{% endfor %}
</p> -->


{% for session in event.subEvent %}
<div class="row column text-center">
<h5>{{ session.name }}</h5>
<p>{{ session.description }}</p>
</div> 
<div class="row align-right">
  {% for subevent in session.subEvent %}
  <div class="medium-2 medium-offset-2 columns bold"><i class="fa fa-clock-o"></i>
      <!-- <a href="https://www.timeanddate.com/worldclock/fixedtime.html?p1=3903&iso={{ subevent.startDate | date: "%Y-%m-%dT%H:%M:%S" }}"> -->
      {{ subevent.startDate | date: "%H:%M" }} - {{ subevent.endDate | date: "%H:%M" }} UTC+1
      <!-- </a> -->
  </div>
  <div class="medium-8 columns">
    <a name="{{ subevent.name }}"></a>
    <h5>
        {% unless subevent.location.url == "TBD"%}<a href="{{ subevent.location.url}}" target="_blank">{% endunless %}
            {{ subevent.name }}
        {% unless subevent.location.url == "TBD"%}</a>{% endunless %}
    </h5>
    <p>
    {% if subevent.description %}{{ subevent.description }}<br/>{% endif %}
    {% for performer in subevent.performer %}{{ performer.givenName }} {{ performer.additionalName }} {{ performer.familyName }}, <span class="ome-green italic">{{ performer.affiliation.name }}</span><br/>{% endfor %}
    </p>
    <ul text-align="left">
    {% for evt in subevent.subEvent %}
      <li>
        <h5>{{ evt.name }}</h5>
        <p>
        {% if evt.description %}{{ evt.description }}<br/>{% endif %}
        {% for performer in evt.performer %}{{ performer.givenName }} {{ performer.additionalName }} {{ performer.familyName }}, <span class="ome-green italic">{{ performer.affiliation.name }}</span><br/>{% endfor %}
        </p>
        {% if evt.workFeatured %}
        <div class="flex-video">
          <iframe width="560" height="315" src="{{ evt.workFeatured.embedUrl }}" frameborder="0" allowfullscreen></iframe>
        </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    {% if subevent.workFeatured %}
    <div class="flex-video">
      <iframe width="560" height="315" src="{{ subevent.workFeatured.embedUrl }}" frameborder="0" allowfullscreen></iframe>
    </div>
    {% endif %}
    </div>



  {% endfor %}
</div>
{% endfor %}
