        <!-- begin OMERO users -->
        <div class="row small-up-2 large-up-3">
            <div class="column text-center">
                <img class="user-group-illustration" alt="OMERO for Scientists" src="{{ site.baseurl }}/img/icons/user-groups_scientists.svg">
                <h6>OMERO for</h6>
                <h5>Scientists</h5>
                <p>Your microscopy images are securely stored but shareable and available from anywhere you have internet access.</p>
                <a href="{{ site.baseurl }}/products/omero/scientists/" class="button expanded">Learn More</a>
            </div>
            <div class="column text-center">
                <img class="user-group-illustration" alt="OMERO for Developers" src="{{ site.baseurl }}/img/icons/user-groups_developers.svg">
                <h6>OMERO for</h6>
                <h5>Developers</h5>
                <p>Join the OME community and extend OMERO’s functionality to suit your individual needs.</p>
                <a href="{{ site.baseurl }}/products/omero/developers/" class="button expanded">Learn More</a>
            </div>
            <div class="column text-center">
                <img class="user-group-illustration" alt="OMERO for Institutions" src="{{ site.baseurl }}/img/icons/user-groups_institutions.svg">
                <h6>OMERO for</h6>
                <h5>Your Institution</h5>
                <p>OMERO securely stores image data and enables all your users to manage the data from the same platform.</p>
                <a href="{{ site.baseurl }}/products/omero/institution/" class="button expanded">Learn More</a>
            </div>
        </div>
        <!-- end OMERO users -->