        <!-- begin OMERO users -->
        <div class="row small-up-2 large-up-3">
            <div class="column text-center">
                <div class="icon-fa-one-third"><i class="fa fa-flask fa-4x"></i></div>
                <h6>OMERO for</h6>
                <h5>Scientists</h5>
                <p>Your microscopy images are securely stored but shareable and available from anywhere you have internet access.</p>
                <a href="{{ site.baseurl }}/products/omero/scientists/" class="button expanded">Learn More</a>
            </div>
            <div class="column text-center">
                <div class="icon-fa-one-third"><i class="fa fa-code fa-4x"></i></div>
                <h6>OMERO for</h6>
                <h5>Developers</h5>
                <p>Join the OME community and extend OMERO’s functionality to suit your individual needs.</p>
                <a href="{{ site.baseurl }}/products/omero/developers/" class="button expanded">Learn More</a>
            </div>
            <div class="column text-center">
                <div class="icon-fa-one-third"><i class="fa fa-building fa-4x"></i></div>
                <h6>OMERO for</h6>
                <h5>Your Institution</h5>
                <p>OMERO securely stores image data and enables all your users to manage the data from the same platform.</p>
                <a href="{{ site.baseurl }}/products/omero/institution/" class="button expanded">Learn More</a>
            </div>
        </div>
        <!-- end OMERO users -->