<div class="row column text-center">
    <h5>Please Note</h5>
    <p>
        The schedule includes pre-recorded videos organised by topic followed by group discussions.<br/>
        Please find time to watch the videos <strong>before</strong> the corresponding discussion
        on each topic.<br/>
        All times are in UK - British Summer Time (GMT+1).
    </p>
</div>
<hr class="invisible">

{% for agenda_item in page.schedule %}
<div class="row align-right">
    {% if agenda_item.videos %}<div class="medium-3 columns center-align"><img alt="{{ agenda_item.alt }} -" class="user-group-illustration center-align" src="{{ site.baseurl }}/img/icons/agenda-themes_{{ agenda_item.theme }}.svg"></div>{% endif %}
    {% if agenda_item.time %}<div class="medium-2 medium-offset-2 columns bold"><i class="fa fa-clock-o"></i> {{ agenda_item.time }}</div>{% endif %}
    <div class="medium-8 columns">
        <a name="{{ agenda_item.type | append: agenda_item.title | slugify }}"></a><h5>{{ agenda_item.type }}{% if agenda_item.type %}:{% endif %} {{ agenda_item.title }}</h5>
        {% if agenda_item.details %}<p>{{ agenda_item.details }}</p>{% endif %}
        {% if agenda_item.speaker %}<p>{{ agenda_item.speaker }}, <span class="ome-green italic">{{ agenda_item.aff }}</span></p>{% endif %}
        {% if agenda_item.videos %}
    <div class="row align-right">
        <h6 class="ome-blue"><i class="fa fa-video-camera margin-right-half"></i>
            Video Talks for <a href="#discussion{{ agenda_item.title | slugify }}">Discussion: {{ agenda_item.title }}</a>
        </h6>
    <div class="row align-right">
        {% if agenda_item.vid_link1 %}
        <div class="medium-4 columns">
            <div class="flex-video">
            <iframe width="420" height="315" src="{{ agenda_item.vid_link1 }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
        <p class="text-center"><span class="bold">{{ agenda_item.vid_title1 }}</span><br>{{ agenda_item.vid_speaker1 }}{% if agenda_item.vid_speaker1 %},{% endif %} <span class="ome-green italic">{{ agenda_item.vid_aff1 }}</span></p>
        </div>
        {% if agenda_item.vid_link2 %}
        <div class="medium-4 columns">
            <div class="flex-video">
            <iframe width="420" height="315" src="{{ agenda_item.vid_link2 }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
        <p class="text-center"><span class="bold">{{ agenda_item.vid_title2 }}</span><br>{{ agenda_item.vid_speaker2 }}{% if agenda_item.vid_speaker2 %},{% endif %} <span class="ome-green italic">{{ agenda_item.vid_aff2 }}</span></p>
        </div>
        {% if agenda_item.vid_link3 %}
        <div class="medium-4 columns">
            <div class="flex-video">
            <iframe width="420" height="315" src="{{ agenda_item.vid_link3 }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
        <p class="text-center"><span class="bold">{{ agenda_item.vid_title3 }}</span><br>{{ agenda_item.vid_speaker3 }}{% if agenda_item.vid_speaker3 %},{% endif %} <span class="ome-green italic">{{ agenda_item.vid_aff3 }}</span></p>
        </div>
    </div>
    {% if agenda_item.vid_link4 %}
    <div class="row align-right">
        {% if agenda_item.vid_link4 %}
        <div class="medium-4 columns">
            <div class="flex-video">
            <iframe width="420" height="315" src="{{ agenda_item.vid_link4 }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
        <p class="text-center"><span class="bold">{{ agenda_item.vid_title4 }}</span><br>{{ agenda_item.vid_speaker4 }}{% if agenda_item.vid_speaker4 %},{% endif %} <span class="ome-green italic">{{ agenda_item.vid_aff4 }}</span></p>
        </div>
        {% if agenda_item.vid_link5 %}
        <div class="medium-4 columns">
            <div class="flex-video">
            <iframe width="420" height="315" src="{{ agenda_item.vid_link5 }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
        <p class="text-center"><span class="bold">{{ agenda_item.vid_title5 }}</span><br>{{ agenda_item.vid_speaker5 }}{% if agenda_item.vid_speaker5 %},{% endif %} <span class="ome-green italic">{{ agenda_item.vid_aff5 }}</span></p>
        </div>
        {% if agenda_item.vid_link6 %}
        <div class="medium-4 columns">
            <div class="flex-video">
            <iframe width="420" height="315" src="{{ agenda_item.vid_link3 }}" frameborder="0" allowfullscreen></iframe>
            </div>
        {% endif %}
        <p class="text-center"><span class="bold">{{ agenda_item.vid_title6 }}</span><br>{{ agenda_item.vid_speaker6 }}{% if agenda_item.vid_speaker6 %},{% endif %} <span class="ome-green italic">{{ agenda_item.vid_aff6 }}</span></p>
        </div>
    </div>
    {% endif %}

        {% endif %}
    </div>
    </div>
</div>

<hr class="invisible">
{% endfor %}
