{% for agenda_item in page.schedule %}
<div class="row align-right">
    {% if agenda_item.videos %}<div class="medium-3 columns center-align"><img alt="{{ agenda_item.alt }} -" class="user-group-illustration center-align" src="{{ site.baseurl }}/img/icons/agenda-themes_{{ agenda_item.theme }}.svg"></div>{% endif %}
    {% if agenda_item.time %}<div class="medium-2 medium-offset-2 columns bold"><i class="fa fa-clock-o"></i> {{ agenda_item.time }}</div>{% endif %}
    <div class="medium-8 columns">
        <h5>{{ agenda_item.type }}{% if agenda_item.type %}:{% endif %} {{ agenda_item.title }}</h5>
        <p>{{ agenda_item.details }}</p>
        {% if agenda_item.videos %}
        <h6 class="ome-blue"><i class="fa fa-video-camera margin-right-half"></i> Relevant Video Talks:</h6>
        <ul>
            {% if agenda_item.vid_title1 %}<li><span class="bold">{{ agenda_item.vid_title1 }}</span> with {{ agenda_item.vid_speaker1 }}{% if agenda_item.vid_aff1 %}, <span class="ome-green italic">{{ agenda_item.vid_aff1 }} {% endif %}</span></li>{% endif %}
            {% if agenda_item.vid_title2 %}<li><span class="bold">{{ agenda_item.vid_title2 }}</span> with {{ agenda_item.vid_speaker2 }}{% if agenda_item.vid_aff2 %}, <span class="ome-green italic">{{ agenda_item.vid_aff2 }} {% endif %}</span></li>{% endif %}
            {% if agenda_item.vid_title3 %}<li><span class="bold">{{ agenda_item.vid_title3 }}</span> with {{ agenda_item.vid_speaker3 }}{% if agenda_item.vid_aff3 %}, <span class="ome-green italic">{{ agenda_item.vid_aff3 }} {% endif %}</span></li>{% endif %}
            {% if agenda_item.vid_title4 %}<li><span class="bold">{{ agenda_item.vid_title4 }}</span> with {{ agenda_item.vid_speaker4 }}{% if agenda_item.vid_aff4 %}, <span class="ome-green italic">{{ agenda_item.vid_aff4 }} {% endif %}</span></li>{% endif %}
            {% if agenda_item.vid_title5 %}<li><span class="bold">{{ agenda_item.vid_title5 }}</span> with {{ agenda_item.vid_speaker5 }}{% if agenda_item.vid_aff5 %}, <span class="ome-green italic">{{ agenda_item.vid_aff5 }} {% endif %}</span></li>{% endif %}
        </ul>
        {% endif %}
    </div>
</div>
<hr class="invisible">
{% endfor %}
