
    <script src="{{ site.baseurl }}/js/vendor/jquery-3.7.1.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/what-input.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/foundation.js"></script>
    <script src="{{ site.baseurl }}/js/app.js"></script>
    <script>
        $(document).foundation();
        try {
             // helper function to filter out empty paths (trailing slash)
            var omitEmpty = function(el) { return el.trim() !== ''};
            
            // extract last path bit from url
            var paths = document.location.pathname.split('/').filter(omitEmpty);
            var path = paths[paths.length-1];
            
            // helper function to find and set active option
            var setActiveNavOption = function(el) {
                var subPaths = el.href.split('/').filter(omitEmpty);
                var subPath = subPaths[subPaths.length-1];
                if (subPath === path) {
                    $(el).addClass('is-active');
                    return true
                }
                return false;
            }
            
            // check if we have a .header-subnav match?
            var hasSubMenu = false;
            $(".header-subnav li a").each(function(i, el) {
                var isMatch = setActiveNavOption(el);
                if (isMatch) {
                    hasSubMenu = true;
                    return false;
                }
            });
            
            // find corresponding path bit for .menu-subnav option
            if (hasSubMenu && paths.length > 1) {
                var parentPath = paths[paths.length-2];
                if (parentPath !== 'omero') path = parentPath;
            }
            
            // set .menu-subnav option
            $(".menu-subnav li a").each(function(i, el) {
                if (setActiveNavOption(el)) return false;
            });
        } catch(ignored) {}
    </script>
