---
layout: default
title: About Us
meta_description: OME produces open tools to support data management for microscopy. Learn more here.
funding:
    - grant_name: "BBSRC BBR Award"
      grant_link: "http://www.bbsrc.ac.uk/research/grants/grants/AwardDetails.aspx?FundingReference=BB/L024233/1"
      ref: BB/L024233/1
    - grant_name: "Wellcome Trust Biomedical Resource Award"
      grant_link: "https://wellcome.ac.uk/what-we-do/directories/biomedical-resource-technology-development-grants-people-funded"
      ref: "202908/Z/16/Z"
    - grant_name: "Horizon 2020 MULTIMOT"
      grant_link: "http://cordis.europa.eu/project/rcn/193270_en.html"
      ref: 634107
    - grant_name: "Horizon 2020: Euro-BioImaging Prep Phase II"
      grant_link: "http://cordis.europa.eu/project/rcn/198825_en.html"
      ref: 688945
    - grant_name: "Horizon 2020: Global BioImaging"
      grant_link: "http://cordis.europa.eu/project/rcn/198649_en.html"
      ref: 653493
    - grant_name: "Horizon 2020: CORBEL"
      grant_link: "http://cordis.europa.eu/project/rcn/197885_en.html"
      ref: 654248
consortium:
    - member_name: "Prof Jason Swedlow"
      member_link: "!SITE_BASEURL!/teams/index.html#swedlow-lab"
      institution: "Division of Computational Biology, School of Life Sciences, University of Dundee"
    - member_name: "Prof Richard Baldock"
      member_link: "http://www.hgu.mrc.ac.uk/people/r.baldock.html"
      institution: "MRC Human Genetics Unit, Edinburgh"
    - member_name: "Prof Rafael Carazo Salas"
      member_link: "http://www.gen.cam.ac.uk/research-groups/carazo-salas"
      institution: "University of Cambridge"
    - member_name: "Dr Alvis Brazma"
      member_link: "http://www.ebi.ac.uk/about/people/alvis-brazma"
      institution: "European Bioinformatics Institute, Cambridge"
    - member_name: "Dr Edouard Bertrand Montpellier"
      member_link: "https://www.mri.cnrs.fr/index.php"
      institution: "ROI Imaging Montpellier"
    - member_name: "Prof Gaudenz Danuser"
      member_link: "http://profiles.utsouthwestern.edu/profile/139751/gaudenz-danuser.html"
      institution: "UT Southwestern"
    - member_name: "Dr Ilan Davis"
      member_link: "http://www.ilandavis.com/home.html"
      institution: "University of Oxford"
    - member_name: "Mr Kevin Eliceiri"
      member_link: "https://loci.wisc.edu"
      institution: "University of Wisconsin-Madison"
    - member_name: "Prof Paul French"
      member_link: "http://www.imperial.ac.uk/photonics"
      institution: "Imperial College London"
    - member_name: "Dr Robert Murphy"
      member_link: "http://murphylab.web.cmu.edu"
      institution: "Carnegie Mellon University"
    - member_name: "Dr Spencer Shorte"
      member_link: "https://research.pasteur.fr/en/team/photonic-bioimaging-utechs-pbi/"
      institution: "Institut Pasteur"
    - member_name: "Dr Gianluigi Zanetti"
      member_link: "http://www.crs4.it/research/visual-and-data-intensive-computing/"
      institution: "CRS4, Sardinia"
partnerships1:
    - group1_name: "KNIME"
      group1_link: "http://knime.org/"
    - group1_name: "Fiji"
      group1_link: "http://fiji.sc/"
    - group1_name: "Endrov"
      group1_link: "http://endrov.net/"
    - group1_name: "Icy"
      group1_link: "http://icy.bioimageanalysis.org/"
    - group1_name: "XuvTools"
      group1_link: "http://www.xuvtools.org/"
    - group1_name: "CellProfiler"
      group1_link: "http://www.cellprofiler.org/"
    - group1_name: "Bisque"
      group1_link: "http://www.bioimage.ucsb.edu/bisque"
    - group1_name: "FARSIGHT"
      group1_link: "http://www.farsight-toolkit.org/"
    - group1_name: "i3dcore"
      group1_link: "http://cbia.fi.muni.cz/user_dirs/i3dlib_doc/i3dcore/"
    - group1_name: "PerkinElmer’s Columbus&reg;"
      group1_link: "http://www.perkinelmer.com/pages/020/cellularimaging/products/columbus.xhtml"
    - group1_name: "Bitplane’s Imaris"
      group1_link: "http://www.bitplane.com/"
partnerships2:
    - group2_name: "JCB DataViewer"
      group2_link: "http://jcb-dataviewer.rupress.org/"
    - group2_name: "Stowers Data Repository"
      group2_link: "http://srdr.stowers.org/"
    - group2_name: "The Cell: An Image Library"
      group2_link: "http://cellimagelibrary.org/"
    - group2_name: "LINCS"
      group2_link: "http://lincs.hms.harvard.edu/"
    - group2_name: "SSBD Database"
      group2_link: "http://ssbd.qbic.riken.jp/"
    - group2_name: "Protein Data Bank Europe"
      group2_link: "http://www.ebi.ac.uk/pdbe/emdb/index.html/"
    - group2_name: "MoveinCell"
      group2_link: "http://movincell.org/"
    - group2_name: "Griffith University: Microscopy Library Public Collections"
      group2_link: "http://omero.rcs.griffith.edu.au/webtest/searchmetacatalogue/"
    - group2_name: "Electron Microscopy Public Image Archive (EMPIAR)"
      group2_link: "https://www.ebi.ac.uk/pdbe/emdb/empiar/"
---
        <div class="callout large primary" id="bg-image-about">
            <div class="row column text-center">
                <h1>About OME</h1>
                <p class="hero-subheader small-12 medium-10 medium-offset-1">We are a multi-site collaborative effort among academic laboratories and a number of commercial entities.</p>
            </div>
        </div>

        <!-- begin About intro -->
        <hr class="whitespace">
        <div class="row text-center">
            <img style="margin-bottom: 30px; max-height: 80px;" alt="OME logo" src="{{ site.baseurl }}/img/logos/ome.svg">
        </div>
        <div class="row column text-center">
            <h2>The Open Microscopy Environment</h2>
        <hr>
            <p class="medium-10 medium-offset-1">We produce open tools to support data management for microscopy. Designed to interact with existing commercial software, all OME formats and software are free, and all OME source code is available under the GNU General public license or more permissive open source licenses, or through a commercial license from <a href="{{ site.baseurl }}/commercial-partners/">Glencoe Software</a>. Discover our tools on <a href="https://fairsharing.org/collection/OME" target="_blank">FAIRSharing</a>.</p>
        </div>
        <hr class="invisible">
        <div class="row">
            <div class="medium-1 columns"><i class="icon-fa-red fa fa-users fa-2x"></i></div>
            <div class="medium-3 columns">
                <h4>The OME Teams</h4>
                <p>OME developers are based in universities and research institutes around the world.</p>
                <a href="{{ site.baseurl }}/teams/" class="button small hollow">Meet the Teams</a>
            </div>
            <hr class="whitespace show-for-small-only">
            <div class="medium-1 columns"><i class="icon-fa-blue fa fa-gift fa-2x"></i></div>
            <div class="medium-3 columns">
                <h4>Contributors</h4>
                <p>We receive direct contribution to the OME software from groups and individuals.</p>
                <a href="{{ site.baseurl }}/contributors/" class="button small hollow">See the List</a>
            </div>
            <hr class="whitespace show-for-small-only">
            <div class="medium-1 columns"><i class="icon-fa-green fa fa-handshake-o fa-2x"></i></div>
            <div class="medium-3 columns">
                <h4>Commercial Partners</h4>
                <p>We collaborate with commercial imaging hardware and software manufacturers on their projects.</p>
                <a href="{{ site.baseurl }}/commercial-partners/" class="button small hollow">Get a Commercial License</a>
            </div>
        </div>
        <!-- end About intro -->

        <!-- begin Project Goals -->
        <hr class="whitespace">
        <div class="row column text-center">
            <h2>Project Goals</h2>
            <p class="subheader medium-8 medium-offset-2">OME seeks to build specifications and software that allow scientists open, flexible, scalable and performant access to their imaging data.</p>
        </div>
        <hr>
        <div class="row column">
            <p>OME is committed to building and releasing high quality, open source, well-supported software for the scientific imaging community. Our tools should work regardless of location, processing environment or data type.</p>
            <p>The project’s foundation is an open metadata specification, the OME Data Model. This defines and describes the metadata elements and relationships that the project uses and supports. Using this specification, we build and release:</p>
        </div>
        <div class="row">
            <div class="medium-4 columns">
                <h3><img src="{{ site.baseurl }}/img/logos/omero-logomark.svg" alt="OMERO logo" class="logomark" /></h3>
                <h4>OMERO</h4>
                <p>An enterprise image data management platform that enables access, processing, sharing, analysis and where appropriate publication of scientific image data and metadata.</p>
            </div>
            <div class="medium-4 columns">
                <h3><img src="{{ site.baseurl }}/img/logos/bio-formats-logomark.svg" alt="Bio-Formats logo" class="logomark" /></h3>
                <h4>Bio-Formats</h4>
                <p>A software plug-in that reads >140 proprietary file formats and converts them to an open, OME-based model that any software can use.</p>
            </div>
            <div class="medium-4 columns">
                <h3><img src="{{ site.baseurl }}/img/logos/ome-files-logomark.svg" alt="OME Files logo" class="logomark" /></h3>
                <h4>OME Files</h4>
                <p>A reference implementation that reads and writes OME-TIFF, an open file format that combines the popular, broadly supported TIFF format for storing binary pixel data, with an OME-based XML metadata header.</p>
            </div>
        </div>
        <div class="row column">
            <p>All of OME’s work and projects are funded by peer-reviewed grants are undertaken as collaborations with academic, industrial or commercial partners, so that the development of new tools and capabilities is always tied to real world, scientific use cases.  Each individual partnership produces specific extensions to <a href="{{ site.baseurl }}/contributors/">Bio-Formats</a> and <a href="{{ site.baseurl }}/omero/">OMERO</a> and these are always distributed to the global OME community to maximize the return and benefit of work and investment.</p>
        </div>
        <!-- end Project Goals -->

        <!-- begin Funding section -->
        <hr class="whitespace">
        <div class="row column">
            <div class="small-12 columns text-center">
                <h2>Funding</h2>
                <h5 class="subheader">OME is funded through several grants from UK and EU agencies. Our current work is funded by the following:</h5>
            </div>
        </div>
        <hr>
        <div class="row medium-up-1 large-up-1 text-center consortium-list">
        {% for grant in page.funding %}
            <div class="large-expand columns"><a target="_blank" href="{{ grant.grant_link }}">{{ grant.grant_name }}</a> <span class="institution">(Ref: {{ grant.ref }})</span></div>
        {% endfor %}
        </div>
        <!-- end Funding section -->

        <!-- begin Consortium section -->
        <hr class="whitespace">
        <div class="row column">
            <div class="small-12 columns text-center">
                <h2>The OME Consortium</h2>
                <h5 class="subheader">The members of the OME consortium are as follows:</h5>
            </div>
        </div>
        <hr>
        <div class="row medium-up-1 large-up-1 text-center consortium-list">
            {% for member in page.consortium %}
            <div class="large-expand columns"><a target="_blank" href="{{ member.member_link | replace: '!SITE_BASEURL!', site.baseurl }}">{{ member.member_name }}</a> <span class="institution">{{ member.institution }}</span></div>
            {% endfor %}
        </div>
        <!-- end Consortium section -->

        <!-- begin Growing the Consortium section -->
        <hr class="whitespace">
        <div class="row column">
            <div class="small-12 columns text-center">
                <h2>Growing the OME Consortium</h2>
                <h5 class="subheader">The OME Consortium welcomes research groups undertaking development of OME tools or integrations to get more involved.</h5>
            </div>
        </div>
        <hr>
        <div id="partnerships" class="row small-up-2 medium-up-3">
            <h5 class="text-center">Examples of OME’s resources are used in the following:</h5>
            {% for group in page.partnerships1 %}
            <div class="column"><a target="_blank" href="{{ group.group1_link }}"><div class="card-consortium card"><div class="card-section">{{ group.group1_name }}</div></div></a></div>
            {% endfor %}
            <hr class="invisible">
            <h5 class="text-center">Places that publish image data with OMERO and Bio-Formats:</h5>
            {% for group in page.partnerships2 %}
            <div class="column"><a target="_blank" href="{{ group.group2_link }}"><div class="card-consortium card"><div class="card-section">{{ group.group2_name }}</div></div></a></div>
            {% endfor %}
        </div>
        <hr class="whitespace">
        <!-- end Growing the Consortium section -->

        <!-- begin Community Standards section -->
        <hr class="whitespace">
        <div class="row column">
            <div class="small-12 columns text-center">
                <h2>Community Standards</h2>
                <h5 class="subheader">The OME Consortium participates in community-driven standardization processes wherever possible.</h5>
            </div>
        </div>
        <hr>
        <a name="standards"/>
        <div id="standards" class="row small-up-2 medium-up-3">
            <h5 class="text-center">
                <a name="fairsharing"/>
                <a target="_blank" href="https://fairsharing.org/collection/OME">
                OME-driven activities are collected in the
                <a target="_blank" href="https://fairsharing.org/collection/OME">OME Collection</a>
                as a part of the
                <a target="_blank" href="https://fairsharing.org/communities"/>Fairsharing</a> community:
            </h5>
            <div class="column"><a target="_blank" href="https://fairsharing.org/"><div class="card-consortium card"><div class="card-section">
                <img style="transform: scale(5); height: 1em" alt="Fairsharing logo" src="{{ site.baseurl }}/img/logos/fairsharing.svg">
            </div></div></a></div>
            <div class="column"><a target="_blank" href="https://fairsharing.org/collection/OME"><div class="card-consortium card"><div class="card-section">OME Collection</div></div></a></div>
            <div class="column"><a target="_blank" href="https://fairsharing.org/biodbcore-000778/"><div class="card-consortium card"><div class="card-section">Image Data Resource (IDR)</div></div></a></div>
            <div class="column"><a target="_blank" href="https://fairsharing.org/bsg-s000107/"><div class="card-consortium card"><div class="card-section">OME-XML Format</div></div></a></div>
            <div class="column"><a target="_blank" href="https://fairsharing.org/bsg-s000537/"><div class="card-consortium card"><div class="card-section">OME-TIFF Format</div></div></a></div>
        </div>
        <hr class="whitespace">
        <!-- end Community Standards section -->

        <hr class="whitespace">
