---
layout: default
title: About Us
meta_description: OME produces open tools to support data management for microscopy. Learn more here.
former_funding:
    - grant_name: "BBSRC BBR Award"
      grant_link: "http://www.bbsrc.ac.uk/research/grants/grants/AwardDetails.aspx?FundingReference=BB/L024233/1"
      ref: BB/L024233/1
    - grant_name: "Wellcome Trust Biomedical Resource Award"
      grant_link: "https://wellcome.ac.uk/what-we-do/directories/biomedical-resource-technology-development-grants-people-funded"
      ref: "202908/Z/16/Z"
    - grant_name: "Horizon 2020 MULTIMOT"
      grant_link: "http://cordis.europa.eu/project/rcn/193270_en.html"
      ref: 634107
    - grant_name: "Horizon 2020: Euro-BioImaging Prep Phase II"
      grant_link: "http://cordis.europa.eu/project/rcn/198825_en.html"
      ref: 688945
    - grant_name: "Horizon 2020: Global BioImaging"
      grant_link: "http://cordis.europa.eu/project/rcn/198649_en.html"
      ref: 653493
    - grant_name: "Horizon 2020: CORBEL"
      grant_link: "http://cordis.europa.eu/project/rcn/197885_en.html"
      ref: 654248
funding:
    - grant_name: "Wellcome Trust Biomedical Resource Grant"
      grant_link: "https://wellcome.org/grant-funding/people-and-projects/grants-awarded/the-image-data-resource-making-biological-imaging-data-fair"
      ref: 212962/Z/18/Z
    - grant_name: "Wellcome Trust Technology Development Grant"
      grant_link: "https://discovery.dundee.ac.uk/en/projects/next-generation-data-formats-for-bioimaging-technology-developmen"
      ref: "221361/Z/20/Z"
    - grant_name: "BBSRC BBR Research Grant"
      grant_link: "https://gow.bbsrc.ukri.org/grants/AwardDetails.aspx?FundingReference=BB/R015384/1"
      ref: BB/R015384/1
    - grant_name: "NIH Common Fund"
      grant_link: "https://data.4dnucleome.org/awards/1UM1HG011593-01/"
      ref: 1UM1HG011593-01
    - grant_name: "European Commission (“EOSC-Life”)"
      grant_link: "https://cordis.europa.eu/project/id/824087"
      ref: H2020-INFRAEOSC-2018-2
partnerships1:
    - group1_name: "KNIME"
      group1_link: "http://knime.org/"
    - group1_name: "Fiji"
      group1_link: "http://fiji.sc/"
    - group1_name: "Icy"
      group1_link: "http://icy.bioimageanalysis.org/"
    - group1_name: "CellProfiler"
      group1_link: "http://www.cellprofiler.org/"
    - group1_name: "Bisque"
      group1_link: "http://www.bioimage.ucsb.edu/bisque"
    - group1_name: "i3dcore"
      group1_link: "https://cbia.fi.muni.cz/software/i3d-library.html"
    - group1_name: "Bitplane’s Imaris"
      group1_link: "http://www.bitplane.com/"
partnerships2:
    - group2_name: "The Cell: An Image Library"
      group2_link: "http://cellimagelibrary.org/"
    - group2_name: "LINCS"
      group2_link: "http://lincs.hms.harvard.edu/"
    - group2_name: "SSBD Database"
      group2_link: "http://ssbd.qbic.riken.jp/"
    - group2_name: "Protein Data Bank Europe"
      group2_link: "https://www.ebi.ac.uk/pdbe"
    - group2_name: "MoveinCell"
      group2_link: "http://movincell.org/"
    - group2_name: "Electron Microscopy Public Image Archive (EMPIAR)"
      group2_link: "https://www.ebi.ac.uk/empiar/"
---
        <div class="menu-subnav" id="about-menu">
            <div class="row">
                <ul class="vertical medium-horizontal dropdown menu-subnav menu expanded small-12 columns" data-responsive-menu="accordion medium-dropdown">
                    <li><a href="#goals">Project Goals</a></li>
                    <li><a href="#funding">Funding</a></li>
                    <li><a href="#consortium">The OME Consortium</a></li>
                    <li><a href="#standards">Community Standards</a></li>
                </ul>
            </div>
        </div>

        <div class="callout large primary" id="bg-image-about">
            <div class="row column text-center">
                <h1>About OME</h1>
                <p class="hero-subheader small-12 medium-10 medium-offset-1">We are a multi-site collaborative effort among academic laboratories and a number of commercial entities.</p>
            </div>
        </div>

        <!-- begin About intro -->
        <hr class="whitespace">
        <div class="row text-center">
            <img style="margin-bottom: 30px; max-height: 80px;" alt="OME logo" src="{{ site.baseurl }}/img/logos/ome.svg">
        </div>
        <div class="row column text-center">
            <h2>The Open Microscopy Environment</h2>
        <hr>
            <p class="medium-10 medium-offset-1">We produce open tools to support data management for microscopy. Designed to interact with existing commercial software, all OME formats and software are free, and all OME source code is available under the GNU General public license or more permissive open source licenses, or through a commercial license from <a href="{{ site.baseurl }}/commercial-partners/">Glencoe Software</a>. Discover our tools on <a href="https://fairsharing.org/collection/OME" target="_blank">FAIRSharing</a>.</p>
        </div>
        <hr class="invisible">
        <div class="row">
            <div class="medium-1 columns"><i class="icon-fa-red fa fa-users fa-2x"></i></div>
            <div class="medium-3 columns">
                <h4>The OME Teams</h4>
                <p>OME developers are based in universities and research institutes around the world.</p>
                <a href="{{ site.baseurl }}/teams/" class="button small hollow">Meet the Teams</a>
            </div>
            <hr class="whitespace show-for-small-only">
            <div class="medium-1 columns"><i class="icon-fa-blue fa fa-gift fa-2x"></i></div>
            <div class="medium-3 columns">
                <h4>Contributors</h4>
                <p>We receive direct contribution to the OME software from groups and individuals.</p>
                <a href="{{ site.baseurl }}/contributors/" class="button small hollow">See the List</a>
            </div>
            <hr class="whitespace show-for-small-only">
            <div class="medium-1 columns"><i class="icon-fa-green fa fa-handshake fa-2x"></i></div>
            <div class="medium-3 columns">
                <h4>Commercial Partners</h4>
                <p>We collaborate with commercial imaging hardware and software manufacturers on their projects.</p>
                <a href="{{ site.baseurl }}/commercial-partners/" class="button small hollow">Get a Commercial License</a>
            </div>
        </div>
        <!-- end About intro -->

        <!-- begin Project Goals -->
        <hr class="whitespace">
        <div id="goals" class="row column text-center">
            <h2>Project Goals</h2>
            <p class="subheader medium-8 medium-offset-2">OME seeks to build specifications and software that allow scientists open, flexible, scalable and performant access to their imaging data.</p>
        </div>
        <hr>
        <div class="row column">
            <p>OME is committed to building and releasing high quality, open source, well-supported software for the scientific imaging community. Our tools should work regardless of location, processing environment or data type.</p>
            <p>The project’s foundation is an open metadata specification, the OME Data Model. This defines and describes the metadata elements and relationships that the project uses and supports. Using this specification, we build and release:</p>
        </div>
        <div class="row">
            <div class="medium-4 columns">
                <h3><img src="{{ site.baseurl }}/img/logos/omero-logomark.svg" alt="OMERO logo" class="logomark" /></h3>
                <h4>OMERO</h4>
                <p>An enterprise image data management platform that enables access, processing, sharing, analysis and where appropriate publication of scientific image data and metadata.</p>
            </div>
            <div class="medium-4 columns">
                <h3><img src="{{ site.baseurl }}/img/logos/bio-formats-logomark.svg" alt="Bio-Formats logo" class="logomark" /></h3>
                <h4>Bio-Formats</h4>
                <p>A software plug-in that reads >140 proprietary file formats and converts them to an open, OME-based model that any software can use.</p>
            </div>
            <div class="medium-4 columns">
                <h3><img src="{{ site.baseurl }}/img/logos/ome-files-logomark.svg" alt="OME Files logo" class="logomark" /></h3>
                <h4>OME File Formats</h4>
                <p>OME-TIFF combines the popular, broadly supported TIFF format with an OME-based XML metadata header. OME-Zarr is a cloud-optimized format designed to address scalability issues with large imaging datasets.</p>
            </div>
        </div>
        <div class="row column">
            <p>All of OME’s work and projects are funded by peer-reviewed grants are undertaken as collaborations with academic, industrial or commercial partners, so that the development of new tools and capabilities is always tied to real world, scientific use cases.  Each individual partnership produces specific extensions to <a href="{{ site.baseurl }}/contributors/">Bio-Formats</a> and <a href="{{ site.baseurl }}/omero/">OMERO</a> and these are always distributed to the global OME community to maximize the return and benefit of work and investment.</p>
        </div>
        <!-- end Project Goals -->

        <!-- begin Funding section -->
        <hr class="whitespace">
        <div id="funding" class="row column">
            <div class="small-12 columns text-center">
                <h2>Funding</h2>
                <h5 class="subheader">OME is funded through several grants from UK and EU agencies. Our current work is funded by the following:</h5>
            </div>
        </div>
        <hr>
        <div class="row medium-up-1 large-up-1 text-center consortium-list">
        {% for grant in page.funding %}
            <div class="large-expand columns"><a target="_blank" href="{{ grant.grant_link }}">{{ grant.grant_name }}</a> <span class="institution">(Ref: {{ grant.ref }})</span></div>
        {% endfor %}
        </div>
        <!-- end Funding section -->


        <!-- begin Growing the Community section -->
        <hr class="whitespace">
        <div class="row column">
            <div class="small-12 columns text-center">
                <h2>Growing the OME Community</h2>
                <h5 class="subheader">The OME Community welcomes research groups undertaking development of OME tools or integrations to get more involved.</h5>
            </div>
        </div>
        <hr>
        <div id="partnerships" class="row small-up-2 medium-up-3">
            <h5 class="text-center">Examples of OME’s resources are used in the following:</h5>
            {% for group in page.partnerships1 %}
            <div class="column"><a target="_blank" href="{{ group.group1_link }}"><div class="card-consortium card"><div class="card-section">{{ group.group1_name }}</div></div></a></div>
            {% endfor %}
            <hr class="invisible">
            <h5 class="text-center">Resources that publish image data with OMERO and Bio-Formats:</h5>
            {% for group in page.partnerships2 %}
            <div class="column"><a target="_blank" href="{{ group.group2_link }}"><div class="card-consortium card"><div class="card-section">{{ group.group2_name }}</div></div></a></div>
            {% endfor %}
        </div>
        <hr class="whitespace">
        <!-- end Growing the Community section -->

        <!-- begin Community Standards section -->
        <hr class="whitespace">
        <div id="standards" class="row column">
            <div class="small-12 columns text-center">
                <h2>Community Standards</h2>
                <h5 class="subheader">OME participates in community-driven standardization processes wherever possible.</h5>
            </div>
        </div>
        <hr>
        <a name="standards"/>
        <div id="standards" class="row small-up-2 medium-up-3">
            <h5 class="text-center">
                <a name="fairsharing"/>
                <a target="_blank" href="https://fairsharing.org/collection/OME">
                OME-driven activities are collected in the
                <a target="_blank" href="https://fairsharing.org/collection/OME">OME Collection</a>
                as a part of the
                <a target="_blank" href="https://fairsharing.org/communities"/>Fairsharing</a> community:
            </h5>
            <div class="column"><a target="_blank" href="https://fairsharing.org/"><div class="card-consortium card"><div class="card-section">
                <img style="transform: scale(5); height: 1em" alt="Fairsharing logo" src="{{ site.baseurl }}/img/logos/fairsharing.svg">
            </div></div></a></div>
            <div class="column"><a target="_blank" href="https://fairsharing.org/collection/OME"><div class="card-consortium card"><div class="card-section">OME Collection</div></div></a></div>
            <div class="column"><a target="_blank" href="https://fairsharing.org/biodbcore-000778/"><div class="card-consortium card"><div class="card-section">Image Data Resource (IDR)</div></div></a></div>
            <div class="column"><a target="_blank" href="https://fairsharing.org/bsg-s000107/"><div class="card-consortium card"><div class="card-section">OME-XML Format</div></div></a></div>
            <div class="column"><a target="_blank" href="https://fairsharing.org/bsg-s000537/"><div class="card-consortium card"><div class="card-section">OME-TIFF Format</div></div></a></div>
        </div>
        <hr class="whitespace">
        <!-- end Community Standards section -->

        <hr class="whitespace">
