---
layout: default
title: Contributors
meta_description: A listing of individuals and groups who have made contributions to OME software.
schemadotorg: contributors
---

{% assign omero_contributors = site.data.omero.contributor | map: "@id" %}
{% assign bf_contributors = site.data.bio-formats.contributor | map: "@id" %}
{% assign contributors = site.data.contributors["@graph"] | uniq | sort: 'familyName' %}

        <div class="callout large primary" id="bg-image-contributors">
            <div class="row column text-center">
                <h1>Contributors</h1>
                <p>People who have made a direct contribution to the OME software</p>
            </div>
        </div>

        <!-- begin Contributors intro -->
        <hr class="whitespace">
        <div class="row">
            <div class="medium-12 small-centered columns ">
                <h4 class="subheader">We have received direct contribution to the OME software from several groups and individuals.</h4>
            </div>
        </div>
        <!-- end Contributors intro -->

        <!-- begin OMERO Contributors -->
        <hr class="whitespace">
        <div class="row">
            <div class="small-12 columns text-center">
                <h3><img src="{{ site.baseurl }}/img/logos/omero.svg" alt="OMERO logo" class="section-title-logo" /></h3>
                <h5 class="subheader">The OMERO project has been fortunate to receive assistance from the following:</h5>
            </div>
        </div>
        <hr>
        <div class="row medium-up-2 large-up-3 contributors-list">
            {% for contributor in contributors %}
            {% if omero_contributors contains contributor["@id"] %}
            <div class="large-expand columns">
            {{ contributor.givenName }} {{ contributor.additionalName }} {{ contributor.familyName }}
            {% if contributor.sameAs %}
            <a href="{{ contributor.sameAs }}" target="_blank"><img src="{{ site.baseurl }}/img/logos/3rd-party-GitHub-Mark-32px.png" width="16" height="16" alt="GitHub Logo" /></a>
            {% endif %}
            {% for affiliation in contributor.affiliation %}
            <a href="{{ affiliation.url }}" target="_blank">{{ affiliation.name }}</a>
            {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- end OMERO Contributors -->

        <!-- begin BF Contributors -->
        <hr class="whitespace">
        <div class="row">
            <div class="small-12 columns text-center">
                <h3><img src="{{ site.baseurl }}/img/logos/bio-formats.svg" alt="Bio-Formats logo" class="section-title-logo" /></h3>
                <h5 class="subheader">The Bio-Formats project has been fortunate to receive assistance from a large number of individuals:</h5>
            </div>
        </div>
        <hr>
        <div class="row medium-up-2 large-up-3 contributors-list">
            {% for contributor in contributors %}
            {% if bf_contributors contains contributor["@id"] %}
            <div class="large-expand columns">
            {{ contributor.givenName }} {{ contributor.additionalName }} {{ contributor.familyName }}
            {% if contributor.sameAs %}
            <a href="{{ contributor.sameAs }}" target="_blank"><img src="{{ site.baseurl }}/img/logos/3rd-party-GitHub-Mark-32px.png" width="16" height="16" alt="GitHub Logo" /></a>
            {% endif %}
            {% for affiliation in contributor.affiliation %}
            <a href="{{ affiliation.url }}" target="_blank">{{ affiliation.name }}</a>
            {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <!-- end BF Contributors -->

        <!-- begin OME Server -->
        <hr class="whitespace">
        <div class="row text-center">
            <div class="small-12 columns">
                <h3>Original OME Server</h3>
            </div>
        </div>
        <hr>
        <div class="row medium-up-2 large-up-3 contributors-list">
            <div class="large-expand columns">
            <a target="_blank" href="http://bioimage.ucsb.edu">Center for Bio-Image Informatics</a>
            </div>

            <div class="large-expand columns">
            <a target="_blank" href="http://www.columbia.edu/">Columbia University</a>
            </div>

            <div class="large-expand columns">
            <a target="_blank" href="http://www.espol.edu.ec/">Escuela Superior Polit&eacute;cnica del Litoral</a>
            </div>

            <div class="large-expand columns">
            <a target="_blank" href="https://medschool.vanderbilt.edu/">Vanderbilt University School of Medicine</a>
            </div>
        </div>
        <hr class="whitespace">
        <!-- end OME Server -->

        <hr class="whitespace">
