---
layout: default-no-anchor
title: OMERO Downloads
---     
        {% include navbar-sub-omero.html %}
        
        <div class="callout large primary" id="bg-image-omero">
            <div class="row column text-center">
                <h1>OMERO {{ site.omero.majorversion }} Downloads</h1>
                <a href="{{ site.baseurl }}/2020/01/15/omero-5-6-0.html" class="large btn-red button sites-button" style="text-shadow: none;">Read the Release Announcement</a>
                <a href="https://docs.openmicroscopy.org/omero/{{ site.omero.version }}/" target="_blank" class="hero-link">Read the Docs</a>
            </div>
        </div>
        
        <!-- begin Download options -->
        <hr class="whitespace">
        <div class="row">
            <h3 class="text-center">OMERO clients</h3>
            <hr>
            <div class="column">

                <p>A standard OMERO user just needs to download the client
                package with a compatible version for their institutional
                server (e.g. 5.5.8 clients will connect to 5.6.0 servers but
                not to 5.4.0 servers). Full instructions for installation are
                on the <a href="https://help.openmicroscopy.org/">help
                site</a>.</p>

                <p>If you do not have an institutional server, you can take
                advantage of the OMERO platform hosted by the OME team in
                Dundee and sign up for a free demo account at
                <a href="https://demo.openmicroscopy.org/signup/">https://demo.openmicroscopy.org/signup/</a>.
                You will received an email with your username and password allowing you to connect
                to the server in Scotland.

            </div>
            <div class="small-12 medium-4 columns">
                <div class="card card-download">
                    <div class="card-section">
                        <img alt="Windows logo" src="{{ site.baseurl }}/img/logos/3rd-party_windows.png">
                        <h5>Windows</h5>
                        <h6>OMERO.insight-{{ site.omero.insight.version }}.exe</h6>
                        <a href="https://github.com/ome/omero-insight/releases/download/v{{ site.omero.insight.version }}/OMERO.insight-{{ site.omero.insight.version }}.exe" class="button hollow small"><i class="fa fa-download"></i> Download (119 MB)</a>
                        <h6>OMERO.insight-{{ site.omero.insight.version }}.msi</h6>
                        <a href="https://github.com/ome/omero-insight/releases/download/v{{ site.omero.insight.version }}/OMERO.insight-{{ site.omero.insight.version }}.msi" class="button hollow small"><i class="fa fa-download"></i> Download (147 MB)</a>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="card card-download">
                    <div class="card-section">
                        <img alt="MacOS X logo" src="{{ site.baseurl }}/img/logos/3rd-party_macosx.jpg">
                        <h5>Mac OS X</h5>
                        <h6>OMERO.insight-{{ site.omero.insight.version }}.dmg</h6>
                        <p></p>
                        <a href="https://github.com/ome/omero-insight/releases/download/v{{ site.omero.insight.version }}/OMERO.insight-{{ site.omero.insight.version }}.dmg" class="button hollow small"><i class="fa fa-download"></i> Download (142 MB)</a>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="card card-download">
                    <div class="card-section">
                        <img alt="Linux logo" src="{{ site.baseurl }}/img/logos/3rd-party_linux.png">
                        <h5>Linux</h5>
                        <h6>OMERO.insight-{{ site.omero.insight.version }}.zip</h6>
                        <p></p>
                        <a href="https://github.com/ome/omero-insight/releases/download/v{{ site.omero.insight.version }}/OMERO.insight-{{ site.omero.insight.version }}.zip" class="button hollow small"><i class="fa fa-download"></i> Download (74 MB)</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="invisible">
        <div class="row hide-for-small-only">
            <div class="medium-8 text-center column"><h3>OMERO plugins</h3><hr></div>
            <div class="medium-4 text-center column"><h3>OMERO server</h3><hr></div>
        </div>
        <div class="row">
            <div class="small-12 medium-4 columns">
                <div class="card card-download">
                    <div class="card-section">
                        <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_fiji.png">
                        <h5>Image J / Fiji</h5>
                        <h6>OMERO.imagej-{{ site.omero.insight.version }}.zip</h6>
                        <p class="card-caption">View instructions at <a href="https://help.openmicroscopy.org/imagej.html" target="_blank">Using ImageJ with OMERO</a>.</p>
                        <a href="https://github.com/ome/omero-insight/releases/download/v{{ site.omero.insight.version }}/OMERO.imagej-{{ site.omero.insight.version }}.zip" class="button hollow small"><i class="fa fa-download"></i> Download (74 MB)</a>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="card card-download">
                    <div class="card-section">
                        <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_matlab.png">
                        <h5>Matlab</h5>
                        <h6>OMERO.matlab-{{ site.omero.matlab.version }}.zip</h6>
                        <p class="card-caption">View instructions at <a href="https://docs.openmicroscopy.org/omero/{{ site.omero.version }}/developers/Matlab.html" target="_blank">OMERO Matlab language bindings</a>.</p>
                        <a href="https://github.com/ome/omero-matlab/releases/download/v{{ site.omero.matlab.version }}/OMERO.matlab-{{ site.omero.matlab.version }}.zip" class="button hollow small"><i class="fa fa-download"></i> Download (54 MB)</a>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <div class="card card-download">
                    <div class="card-section">
                        <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_server.svg">
                        <h5>Server (Ice 3.6)</h5>
                        <h6>OMERO.server-{{ site.omero.version }}-ice36-{{ site.omero.build }}.zip</h6>
                        <p class="card-caption">View installation guides in <a href="https://docs.openmicroscopy.org/omero/{{ site.omero.version }}/sysadmins/index.html" target="_blank">System Administrator documentation</a>.</p>
                        <a href="https://downloads.openmicroscopy.org/omero/{{ site.omero.version }}/artifacts/OMERO.server-{{ site.omero.version }}-ice36-{{ site.omero.build }}.zip" class="button hollow small"><i class="fa fa-download"></i> Download (260 MB)</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="invisible">
        <div class="row">
            <div class="small-12 medium-6 columns">
                <h3 class="text-center">OMERO Python</h3>
                <div class="card card-download">
                    <div class="card-section">
                        <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_python.svg">
                        <h5>Python (Ice 3.6)</h5>
                        <p class="card-caption">
                        OMERO.py libraries can be downloaded from PyPI
                        or from the ome conda channel.
                        </p>
                        <a href="https://pypi.org/user/ome/" class="button hollow small"><i class="fa fa-download"></i>PyPI</a>
                        <a href="https://anaconda.org/ome" class="button hollow small"><i class="fa fa-download"></i>Conda Channel</a>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 columns">
                <h3 class="text-center">OMERO Java</h3>
                <div class="card card-download">
                    <div class="card-section">
                        <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_java.png">
                        <h5>Java (Ice 3.6)</h5>
                        <h6>OMERO.java-{{ site.omero.version }}-ice36-{{ site.omero.build }}.zip</h6>
                        <p class="card-caption">The OMERO Java API documentation is available to read on the web <a href="https://downloads.openmicroscopy.org/omero/{{ site.omero.version }}/api/">here</a>.</p>
                        <a href="https://downloads.openmicroscopy.org/omero/{{ site.omero.version }}/artifacts/OMERO.java-{{ site.omero.version }}-ice36-{{ site.omero.build }}.zip" class="button hollow small"><i class="fa fa-download"></i> Download (125 MB)</a>
                    </div>
                </div>
            </div>
        </div>             
        <!-- end Download options -->
        <hr class="invisible">
        
        {% include back-to-top.html %}
        
        <!-- begin CTA -->
        <hr class="whitespace">
        <header class="marketing-hero" style="background-image: url('{{ site.baseurl }}/img/bg/omero-omero.jpg');">
            <div class="row">
                <div class="small-12 columns bg-image-text-container-cta text-center">
                    <p class="hero-subheader">Previous versions are available via the <a href="https://downloads.openmicroscopy.org/omero/">downloads index</a></p>
                </div>
            </div>
        </header>
        <!-- end CTA -->
