---
layout: community
title: News
main-blurb: New releases and other announcements
---                      
        <!-- begin News -->
        <hr class="whitespace">
        <div id="community-posts" class="row">
{% if paginator.total_pages > 1 %}
        <div class="small-12 medium-8 medium-offset-2 columns">
        <ul class="pagination">
          <li>
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
          {% else %}
            <span>&laquo; Prev</span>
          {% endif %}
          </li>
          {% for page in (1..paginator.total_pages) %}
          <li>
            {% if page == paginator.page %}
              <em>{{ page }}</em>
            {% elsif page == 1 %}
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
          </li>
          {% endfor %}
          <li>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
          {% else %}
            <span>Next &raquo;</span>
          {% endif %}
          </li>
        </ul>
    </div>
{% endif %}
{% for post in paginator.posts %}
            <div class="small-12 medium-8 medium-offset-2 columns"></h6>
                <h6><i class="fa fa-calendar"></i> {{post.date | date: "%B %d, %Y"}}
                <h2><a href="{{ post.url | relative_url }}">{{post.title}}</a></h2>
                <p class="card-caption">{{post.intro-blurb}}</p>
                <div class="row"></div>
            </div>
            <hr class="medium-8">
{% endfor %}
        </div>
        <!-- end News -->
        <hr class="whitespace">
        <div class="row">
            <div class="small-12 medium-8 medium-offset-2">
                <p class="callout primary">You can find details of earlier releases in the documentation for the product you're interested in</p>
            </div>
        </div>       
        <hr class="invisible">
        