---
layout: omero-features
title: OMERO Features
feature: View
usergroup: omero
redirect_from:
  - ../omero/view/
meta_description: Work with your data from anywhere over the internet with OMERO’s 5-dimensional image viewers.
---

    <!-- begin OMERO features -->
    <hr class="whitespace">
    <div class="row column text-center">
        <h2 class="header-blue">Viewing Images</h2>
        <hr class="medium-10">
        <p class="subheader">
            Use OMERO’s 5-dimensional image viewers to work with your data
            from anywhere over the internet
        </p>
        <hr class="medium-10">
        <div class="row small-12 medium-up-3">

            <div class="omero-feature-container tall-content column text-center">
                <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_view-images.svg">
                <h4>View images</h4>
                <p>Browse thumbnails, image previews and full images,
                    including 'split-channel' views and Z-projections.</p>
                <a class="button hollow tiny" href="https://omero-guides.readthedocs.io/en/latest/iviewer/docs/iviewer_viewing.html" target="_blank">Viewing Data user guide</a>
                <a class="button hollow tiny" href="{{ site.baseurl }}/omero/iviewer/">Find out more about OMERO.<span class="lowercase">i</span>viewer</a>
            </div>
            <div class="omero-feature-container tall-content column text-center">
                <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_fpbioimage.svg">
                <h4>Volumetric viewer</h4>
                <p>Visualize volumetric data using OMERO.FPBioimage, a wrapper around <a href="http://fpb.ceb.cam.ac.uk" target="_blank">First Person Bioimage</a> to allow access to data stored in OMERO.</p>
                <a class="button hollow tiny" href="http://fpb.ceb.cam.ac.uk" target="_blank">Find out more</a>
                <a class="button hollow tiny" href="https://omero-guides.readthedocs.io/en/latest/fpbioimage/docs/fpbioimage.html">View Data user guide</a>
            </div>
            <div class="omero-feature-container tall-content column text-center">
                <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_bio-formats.svg">
                <h4>Supported file formats</h4>
                <p>Work with the 150+ formats read by Bio-Formats including
                    microscopy, HCS, tissue scanner and graphics file formats.</p>
                <a class="button hollow tiny" href="https://docs.openmicroscopy.org/bio-formats/{{ site.bf.version }}/supported-formats.html" target="_blank">View formats guide</a>
            </div>
            <div class="omero-feature-container tall-content column text-center">
                <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_rendering-settings.svg">
                <h4>Rendering settings</h4>
                <p>Edit, save, copy and paste rendering settings between
                    images.</p>
                <a class="button hollow tiny" href="https://omero-guides.readthedocs.io/en/latest/iviewer/docs/iviewer_viewing.html" target="_blank">View user guide</a>
            </div>
            <div class="omero-feature-container tall-content column text-center">
                <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_lookup-table.svg">
                <h4>Apply lookup tables</h4>
                <p>Render images with lookup tables and reverse intensity
                    mapping.</p>
                <a class="button hollow tiny" href="https://omero-guides.readthedocs.io/en/latest/iviewer/docs/iviewer_viewing.html" target="_blank">View user guide</a>
            </div>
            <div class="omero-feature-container tall-content column text-center">
                <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_big-images.svg">
                <h4>Big images</h4>
                <p>OMERO supports large images, with infrastructure and
                    viewers to support panning and zooming.</p>
                <a class="button hollow tiny" href="https://omero-guides.readthedocs.io/en/latest/iviewer/docs/iviewer_viewing.html" target="_blank">View user guide</a>
                <a class="button hollow tiny" href="{{ site.baseurl }}/omero/iviewer/">Find out more about OMERO.<span class="lowercase">i</span>viewer</a>
            </div>
            <div class="omero-feature-container tall-content column text-center">
                <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_screen.svg">
                <h4>HCS data</h4>
                <p>View a Screen Plate Well hierarchy and Well layout.</p>
                <a class="button hollow tiny" href="https://omero-guides.readthedocs.io/en/latest/introduction/docs/data-management.html" target="_blank">View user guide</a>
            </div>
        </div>
    </div>
    <!-- end OMERO features -->

    <!-- begin community features -->
    <div class="row column text-center">
        <hr class="medium-10">
        <p class="subheader">
            Add functionality to your OMERO installation with
            community-developed optional apps and plugins
        </p>
        <hr class="medium-10">
        <div class="row small-12 medium-up-3">
            <div class="omero-feature-container tall-content column text-center">
                <img class="thumbnail omero-feature" alt="OMERO feature" src="{{ site.baseurl }}/img/icons/omero-features-icons_seadragon.png">
                <h4>ome-seadragon</h4>
                <p>OMERO.web app to support an image viewer based on
                    OpenSeadragon.</p>
                <a class="button hollow tiny" href="https://github.com/crs4/ome_seadragon" target="_blank">Find out more</a>
            </div>
        </div>
    </div>
    <!-- end community features -->
