---
layout: default
title: Media
---          
        <div class="callout large primary" id="bg-image-media" style="margin-bottom: 0rem;">
            <div class="row column text-center">
                <h1>Media</h1>
                <p>[ Blurb about the December Training material (ppt, pdf, word docs, templates and videos) ]</p>
            </div>
        </div>
                
        <!-- begin Media Resources navigation -->
        <div class="media-options-bar-container">
            <div class="media-options-bar row small-12 medium-6 medium-offset-3">
                <a href="{{ site.baseurl }}/media/"><button class="media-option media-option-active"><i class="fa fa-file-o" aria-hidden="true"></i><span class="media-type">Docs</span></button></a>
                <a href="{{ site.baseurl }}/media/images/"><button class="media-option"><i class="fa fa-picture-o" aria-hidden="true"></i><span class="media-type">Images</span></button></a>
                <a href="{{ site.baseurl }}/media/slides/"><button class="media-option"><i class="fa fa-film" aria-hidden="true"></i><span class="media-type">Slides</span></button></a>
                <a href="{{ site.baseurl }}/media/videos/"><button class="media-option"><i class="fa fa-video-camera" aria-hidden="true"></i><span class="media-type">Videos</span></button></a>
            </div>
        </div>
        <!-- end Media Resources navigation -->
        
        {{ content }}
        <hr class="whitespace">
