---
layout: default
---

<header class="header" id="bg-image-events">
    <h1 class="headline">{{ page.title }}</h1>
    <p>{{page.main-blurb}}</p>
    <div class="row show-for-small-only" style="height: 120px;"></div>
    <ul class="header-subnav">
      <li class="{{ page.nav-overview }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/">Overview</a></li>
      <li class="{{ page.nav-day1 }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/">Day 1 <span class="hide-for-small-only">- Tue May 26</span></a></li>
      <li class="{{ page.nav-day2 }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/">Day 2 <span class="hide-for-small-only">- Wed May 27</span></a></li>
      <li class="{{ page.nav-day3 }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/">Day 3 <span class="hide-for-small-only">- Thu May 28</span></a></li>
      <li class="{{ page.nav-workshops }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/">Workshops</span></a></li>
      <li class="{{ page.nav-speakers }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/">Speakers</span></a></li>
    </ul>
</header>

<hr class="invisible">
<div class="text-center">
    <a id="back-to-top" href="{{ site.baseurl }}/events/"><i class="fa fa-arrow-left"></i> back to Events</a>
</div>

{{ content }}
