---
layout: default
meta_description: The OME 2021 Community Meeting will be held remotely from June 7th to June 11th 2021. We will discuss RDM, !
---

<!-- begin banner announcement -->
<section class="announcement bg-ome-red">
    <span></span>
</section>
<!-- end banner announcement -->

<header class="header" id="bg-hero-ome-community-meeting-2021-agenda">
    <h1>OME 2024 Community Meeting</h1>
    <p class="bold ome-navy text-shadow-light">Open data, advanced imaging data applications, and more</p>
    <p><span class="large button sites-button btn-red margin-right">Recordings available</span></p>
    <ul class="header-subnav bg-ome-navy">
      <li class="{{ page.nav-overview }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2024/">Overview</a></li>
      <li class="{{ page.nav-day1 }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2024/day1/">Day 1 <span class="hide-for-small-only">- Wed May 29</span></a></li>
      <!-- <li class="{{ page.nav-day2 }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2024/day2/">Day 2 <span class="hide-for-small-only">- Thu May 30</span></a></li>
      <li class="{{ page.nav-day3 }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2024/day3/">Day 3 <span class="hide-for-small-only">- Fri May 31</span></a></li> -->
      <!-- <li class="{{ page.nav-day4 }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2021/day4/">Day 4 <span class="hide-for-small-only">- Fri June 11</span></a></li> -->
    </ul>
</header>

<hr class="invisible">
<div class="text-center">
    <a id="back-to-top" href="{{ site.baseurl }}/events/"><i class="fa fa-arrow-left"></i> back to Events</a>
</div>

{{ content }}

<hr class="whitespace">
