---
layout: default
meta_description: The 2020 OME Community Meeting will be held remotely from May 26th to May 28th 2020. We will discuss open data, OMERO, Bio-Formats, IDR, and so much more!
---

<!-- begin banner announcement -->
<section class="announcement bg-ome-red">
    <span><i class="fa fa-bullhorn"></i> Please note the registration deadline is 19 May - <a class="styled-link" href="https://docs.google.com/forms/d/1ZOl1wa_oe5Pm4ho2co05ZD3otXpGY_3hPaFxnlvGyiQ">Last chance to register!</a></span>
</section>
<!-- end banner announcement -->

<header class="header" id="bg-hero-ome-community-meeting-2020-agenda">
    <h1>2020 OME Community Meeting</h1>
    <p class="bold ome-navy text-shadow-light">Open data, advanced imaging data applications, and more</p>
    <p><a href="https://docs.google.com/forms/d/1ZOl1wa_oe5Pm4ho2co05ZD3otXpGY_3hPaFxnlvGyiQ" class="large button sites-button btn-red margin-right">Register to Attend</a></p>
    <ul class="header-subnav bg-ome-navy">
      <li class="{{ page.nav-overview }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/">Overview</a></li>
      <li class="{{ page.nav-day1 }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/day1/">Day 1 <span class="hide-for-small-only">- Tue May 26</span></a></li>
      <li class="{{ page.nav-day2 }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/day2/">Day 2 <span class="hide-for-small-only">- Wed May 27</span></a></li>
      <li class="{{ page.nav-workshops }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/workshops/">Day 3 <span class="hide-for-small-only">- Workshops</span></a></li>
      <li class="{{ page.nav-speakers }}"><a href="{{ site.baseurl }}/events/ome-community-meeting-2020/speakers/">Speakers</span></a></li>
    </ul>
</header>

<hr class="invisible">
<div class="text-center">
    <a id="back-to-top" href="{{ site.baseurl }}/events/"><i class="fa fa-arrow-left"></i> back to Events</a>
</div>

<hr class="invisible">
<div class="row column text-center">
    <h2>{{ page.title }}</h2>
    <p class="subheader">{{ page.subheader }}</p>
</div>
<hr>
<hr class="invisible">

{{ content }}

<hr class="whitespace">
