{% include head.html %}

        {% include navbar-sub-omero.html %}
        
        <header class="header" id="bg-image-omero">            
            <h1 class="headline">{{page.feature}} with OMERO</h1>
            <div class="row show-for-small-only" style="height: 120px;"></div>           
            <ul class="header-subnav">
                <li><a href="{{ site.baseurl }}/omero/new/">NEW</a></li>
                <li><a href="{{ site.baseurl }}/omero/new/import/">Import</a></li>
                <li><a href="{{ site.baseurl }}/omero/new/organize/">Organize</a></li>
                <li><a href="{{ site.baseurl }}/omero/new/view/">View</a></li>
                <li><a href="{{ site.baseurl }}/omero/new/analyze/">Analyze</a></li>
                <li><a href="{{ site.baseurl }}/omero/new/publish/">Publish</a></li>
                <li><a href="{{ site.baseurl }}/omero/new/export/">Export</a></li>
                <li><a href="{{ site.baseurl }}/omero/new/learning/">Teach</a></li>
                <li><a href="{{ site.baseurl }}/omero/new/utility/">Administrate</a></li>
            </ul>            
        </header>

{{ content }}
{% include cta-omero.html %}
{% include foot.html %}
