{% include head.html %}

        {% include navbar-sub-omero.html %}
        
        <header class="header" id="header-bg-{{page.usergroup}}">            
            <h1 class="headline">OMERO <span style="text-transform: lowercase;">for</span> <span style="text-transform: capitalize;">{{page.usergroup}}</span></h1>
            <div class="row show-for-small-only" style="height: 100px;"></div>            
            <ul class="header-subnav">
                <li><a href="{{ site.baseurl }}/omero/scientists">Summary</a></li>
                <li><a href="{{ site.baseurl }}/omero/scientists/getting-started.html">Getting Started</a></li>
                <li><a href="{{ site.baseurl }}/omero/scientists/docs.html">Documentation</a></li>
            </ul>            
        </header>

{{ content }}
{% include cta-omero.html %}
{% include foot.html %}
