{% include head.html %}

        <header class="header" id="header-bg-developers">            
            <h1 class="headline">OMERO for Developers</h1>            
            <ul class="header-subnav">
                <li><a href="{{ site.baseurl }}/products/omero/"><i class="fa fa-arrow-left"></i> Overview</a></li>
                <li><a href="index.html">Summary</a></li>            
                <li><a href="getting-started.html">Getting Started</a></li>            
                <li><a href="docs.html">Documentation</a></li>            
            </ul>            
        </header>

{{ content }}

{% include foot.html %}