{% include head.html %}

    <!-- HEADER 
    <div id="header_wrap" class="outer">
        <header class="header" id="bg-image-omero">
          <h1 id="project_title">OMERO.figure</h1>
          <div class="row show-for-small-only" style="height: 120px;"></div>  
          <a href="{{ site.baseurl }}/2018/01/30/figure-3-2-0.html" class="large btn-red button sites-button" style="text-shadow: none;">Read the Release Announcement</a>
          <a href="http://help.openmicroscopy.org/figure.html" target="_blank" class="hero-link">Read the Docs</a>
         </header>-->

{{ content }}
{% include cta-omero-figure.html %}
{% include foot.html %}
