---
layout: default
---
        <!-- begin Post -->
        {% if page.categories contains "blog" %}
        <div class="callout large primary" id="bg-image-blog">
        {% else %}
        <div class="callout large primary" id="bg-image-announcements">
        {% endif %}
            <div class="row column text-center">
                <h1>{{page.title}}</h1>
                <p>{{page.intro-blurb}}</p>
            </div>
        </div>
        <hr class="invisible">        
        <div class="text-center">
            {% if page.categories contains "blog" %}
            <a id="back-to-top" href="{{ site.baseurl }}/blog/"><i class="fa fa-arrow-left"></i> back to Blog</a>
            {% else %}
            <a id="back-to-top" href="{{ site.baseurl }}/announcements/"><i class="fa fa-arrow-left"></i> back to Announcements</a>
            {% endif %}
        </div>
        <hr class="invisible">        
        <div class="row">
            <div class="columns">
            {{content}}
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p class="text-right">
                    &mdash; <i>{{ page.date | date: '%B %-d, %Y' }}</i>
                </p>
            </div>
        </div>
        <!-- end Post -->
