---
layout: default
title: Training
---
        <header class="header" id="bg-image-training" style="margin-bottom: 0rem;">
                <h1 class="headline">Training</h1>
                <p>These materials are available for you to use and adapt for your own training purposes.</p>
        </header>

        <!-- begin Training Resources navigation -->
        <div class="training-subnav-bar-container">
            <ul class="custom-nav training-subnav-bar row small-12 medium-6 medium-offset-3">
                <li>
                    <a class="custom-nav-option" href="{{ site.baseurl }}/training/">
                        <button class="training-option">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            <span class="training-type">Docs</span>
                        </button>
                    </a>
                </li>
                <!--<li><a class="custom-nav-option" href="{{ site.baseurl }}/media/images/"><button class="training-option"><i class="fa fa-picture-o" aria-hidden="true"></i><span class="training-type">Images</span></button></a></li>-->
                <li>
                    <a class="custom-nav-option" href="{{ site.baseurl }}/training/slides/">
                        <button class="training-option">
                            <i class="fa fa-film" aria-hidden="true"></i>
                            <span class="training-type">Slides</span>
                        </button>
                    </a>
                </li>
                <li>
                    <a class="custom-nav-option" href="{{ site.baseurl }}/training/videos/">
                        <button class="training-option">
                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                            <span class="training-type">Videos</span>
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <!-- end Training Resources navigation -->

        {{ content }}
        <hr class="whitespace">
